Repository openshift-pipelines/tektoncd-triggers: changes, and which Tekton pipelines are due for each by the changed paths.
All: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

core-interceptors-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/core-interceptors:{{revision}}
  - name: dockerfile
  ...

eventlistenersink-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/eventlistenersink:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-triggers-main-controller-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/controller:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-triggers-main-eventlistenersink-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/eventlistenersink:{{revision}}
  - name: dockerfile
  ...

tektoncd-triggers-main-webhook-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/webhook:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-triggers-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/webhook:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/webhook.Dockerfile
  ...

[bot:next] update konflux configuration
  .github/workflows/update-sources.main.yaml
  .tekton/tektoncd-triggers-next-controller-pull-request.yaml
  .tekton/tektoncd-triggers-next-controller-push.yaml
  .tekton/tektoncd-triggers-next-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-next-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-next-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-next-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-next-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-next-webhook-push.yaml
Due: none

[bot:main] update konflux configuration
  .tekton/tektoncd-triggers-main-controller-pull-request.yaml
  .tekton/tektoncd-triggers-main-controller-push.yaml
  .tekton/tektoncd-triggers-main-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-main-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-main-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-main-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-main-webhook-push.yaml
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot] Update main from tektoncd/triggers to 4b45dc0ce05f4be7ee33a37b1ddaafb4c020c9fc
  head
  upstream/releases.md
  upstream/tekton/release-cheat-sheet.md
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

moved .tekton/docker-build*.yaml to operator repo
  .tekton/docker-build-ta.yaml
  .tekton/docker-build.yaml
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request

moved .tekton/docker-build*.yaml to operator repo
  .tekton/docker-build-ta.yaml
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request

patch - bump golang.org/x/net v0.28.0 => v0.34.0
  .konflux/patches/bump_golang_org_x_net_v0_28_0_=__v0_34_0.patch
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:main] update konflux configuration
  .konflux/main/tests.yaml
  .konflux/next/tests.yaml
Due: none

[bot:main] update konflux configuration
  .konflux/main/tests-on-push.yaml
  .konflux/next/tests-on-push.yaml
Due: none

update dockerfile
  .github/workflows/auto-merge.main.yaml
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:main] update konflux configuration
  .github/workflows/update-sources.1.18.yaml
  .konflux/1.18/application.yaml
  .konflux/1.18/component-controller.yaml
  .konflux/1.18/component-core-interceptors.yaml
  .konflux/1.18/component-eventlistenersink.yaml
  .konflux/1.18/component-webhook.yaml
  .konflux/1.18/image-controller.yaml
  .konflux/1.18/image-core-interceptors.yaml
  .konflux/1.18/image-eventlistenersink.yaml
  .konflux/1.18/image-webhook.yaml
  .konflux/1.18/tests.yaml
Due: none

[bot:next] update konflux configuration
  .tekton/tektoncd-triggers-next-controller-pull-request.yaml
  .tekton/tektoncd-triggers-next-controller-push.yaml
  .tekton/tektoncd-triggers-next-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-next-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-next-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-next-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-next-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-next-webhook-push.yaml
Due: none

Red Hat Konflux update tektoncd-triggers-1-18-controller Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-1-18-controller-pull-request.yaml
  .tekton/tektoncd-triggers-1-18-controller-push.yaml
Due: none

Red Hat Konflux update tektoncd-triggers-1-18-core-interceptors Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-1-18-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-1-18-core-interceptors-push.yaml
Due: none

Red Hat Konflux update tektoncd-triggers-1-18-eventlistenersink Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-1-18-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-1-18-eventlistenersink-push.yaml
Due: none

Red Hat Konflux update tektoncd-triggers-1-18-webhook Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-1-18-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-1-18-webhook-push.yaml
Due: none

[bot:release-v1.18.x] update konflux configuration
  .tekton/tektoncd-triggers-1-18-controller-pull-request.yaml
  .tekton/tektoncd-triggers-1-18-controller-push.yaml
  .tekton/tektoncd-triggers-1-18-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-1-18-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-1-18-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-1-18-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-1-18-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-1-18-webhook-push.yaml
Due: none

[bot] Update 1.18 from tektoncd/triggers to a49b8d249d90d0a567aad59069681e4bc421c5d0
  head
  upstream/.github/workflows/golangci-lint.yaml
  upstream/DEVELOPMENT.md
  upstream/go.mod
  upstream/go.sum
  upstream/releases.md
  upstream/test/presubmit-tests.sh
  upstream/vendor/github.com/tektoncd/plumbing/.gitignore
  upstream/vendor/github.com/tektoncd/plumbing/OWNERS
  upstream/vendor/github.com/tektoncd/plumbing/scripts/README.md
  upstream/vendor/github.com/tektoncd/plumbing/scripts/deploy-release.sh
  upstream/vendor/github.com/tektoncd/plumbing/scripts/verified-catalog-e2e-common.sh
  upstream/vendor/golang.org/x/net/html/doc.go
  upstream/vendor/golang.org/x/net/html/doctype.go
  upstream/vendor/golang.org/x/net/html/foreign.go
  upstream/vendor/golang.org/x/net/html/iter.go
  upstream/vendor/golang.org/x/net/html/node.go
  upstream/vendor/golang.org/x/net/html/parse.go
  upstream/vendor/golang.org/x/net/http2/client_conn_pool.go
  upstream/vendor/golang.org/x/net/http2/config.go
  upstream/vendor/golang.org/x/net/http2/config_go124.go
  upstream/vendor/golang.org/x/net/http2/config_pre_go124.go
  upstream/vendor/golang.org/x/net/http2/frame.go
  upstream/vendor/golang.org/x/net/http2/http2.go
  upstream/vendor/golang.org/x/net/http2/server.go
  upstream/vendor/golang.org/x/net/http2/transport.go
  upstream/vendor/golang.org/x/net/http2/unencrypted.go
  upstream/vendor/golang.org/x/net/http2/write.go
  upstream/vendor/modules.txt
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Delete .konflux/patches/bump_golang_org_x_net_v0_28_0_=__v0_34_0.patch
  .konflux/patches/bump_golang_org_x_net_v0_28_0_=__v0_34_0.patch
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:next] update konflux configuration
  .tekton/prow.yaml
Due: none

[bot:release-v1.18.x] update konflux configuration
  .tekton/prow.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/update-sources.1.18.yaml
  .github/workflows/update-sources.next.yaml
  .tekton/prow.yaml
Due: none

Path conditions:
  core-interceptors-on-push: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/core-interceptors-pull-request.yaml)) or (any of: .tekton/core-interceptors-push.yaml)) or (any of: .tekton/docker-build.yaml)
  eventlistenersink-on-pull-request: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/eventlistenersink-pull-request.yaml)) or (any of: .tekton/eventlistenersink-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-triggers-main-controller-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-controller-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-eventlistenersink-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/eventlistenersink.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-push.yaml)
