Repository openshift-pipelines/tektoncd-triggers: changes, and which Tekton pipelines are due for each by the changed paths.
All: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Path conditions:
  core-interceptors-on-push: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/core-interceptors-pull-request.yaml)) or (any of: .tekton/core-interceptors-push.yaml)) or (any of: .tekton/docker-build.yaml)
  eventlistenersink-on-pull-request: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/eventlistenersink-pull-request.yaml)) or (any of: .tekton/eventlistenersink-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-triggers-main-controller-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-controller-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-eventlistenersink-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/eventlistenersink.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-push.yaml)

Fix RPMs
  .konflux/rpms/rpms.in.yaml
  .konflux/rpms/rpms.lock.yaml
  .konflux/rpms/ubi.repo
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:next] update konflux configuration
  .github/workflows/update-sources.yaml
  .konflux/next/image-controller.yaml
  .konflux/next/image-core-interceptors.yaml
  .konflux/next/image-eventlistenersink.yaml
  .konflux/next/image-webhook.yaml
  .tekton/tektoncd-triggers-next-controller-pull-request.yaml
  .tekton/tektoncd-triggers-next-controller-push.yaml
  .tekton/tektoncd-triggers-next-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-next-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-next-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-next-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-next-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-next-webhook-push.yaml
Due: none

Update .placeholder
  .konflux/patches/.placeholder
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[next] fix dockerfile
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:main] update konflux configuration
  .github/workflows/update-sources.yaml
  .konflux/main/image-controller.yaml
  .konflux/main/image-core-interceptors.yaml
  .konflux/main/image-eventlistenersink.yaml
  .konflux/main/image-webhook.yaml
  .tekton/tektoncd-triggers-main-controller-pull-request.yaml
  .tekton/tektoncd-triggers-main-controller-push.yaml
  .tekton/tektoncd-triggers-main-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-main-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-main-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-main-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-main-webhook-push.yaml
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Red Hat Konflux purge tektoncd-triggers-main-controller Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-main-controller-pull-request.yaml
  .tekton/tektoncd-triggers-main-controller-push.yaml
Due: tektoncd-triggers-main-controller-on-pull-request

Red Hat Konflux purge tektoncd-triggers-main-core-interceptors Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-main-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-main-core-interceptors-push.yaml
Due: none

Red Hat Konflux purge tektoncd-triggers-main-eventlistenersink Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-main-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml
Due: tektoncd-triggers-main-eventlistenersink-on-push

Red Hat Konflux purge tektoncd-triggers-main-webhook Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-main-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-main-webhook-push.yaml
Due: tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Red Hat Konflux update tektoncd-triggers-1-17-controller Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-1-17-controller-pull-request.yaml
  .tekton/tektoncd-triggers-1-17-controller-push.yaml
Due: none

Red Hat Konflux update tektoncd-triggers-1-17-core-interceptors Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-1-17-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-1-17-core-interceptors-push.yaml
Due: none

Red Hat Konflux update tektoncd-triggers-1-17-eventlistenersink Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-1-17-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-1-17-eventlistenersink-push.yaml
Due: none

Red Hat Konflux update tektoncd-triggers-1-17-webhook Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-1-17-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-1-17-webhook-push.yaml
Due: none

[bot:release-v1.17.x] update konflux configuration
  .github/workflows/update-sources.yaml
  .konflux/next/application.yaml
  .konflux/next/component-controller.yaml
  .konflux/next/component-core-interceptors.yaml
  .konflux/next/component-eventlistenersink.yaml
  .konflux/next/component-webhook.yaml
  .konflux/next/image-controller.yaml
  .konflux/next/image-core-interceptors.yaml
  .konflux/next/image-eventlistenersink.yaml
  .konflux/next/image-webhook.yaml
  .konflux/next/release-plan.yaml
  .konflux/next/tests.yaml
  .tekton/tektoncd-triggers-1-17-controller-pull-request.yaml
  .tekton/tektoncd-triggers-1-17-controller-push.yaml
  .tekton/tektoncd-triggers-1-17-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-1-17-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-1-17-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-1-17-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-1-17-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-1-17-webhook-push.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/update-sources-release-v1.17.x.yaml
  .konflux/main/application.yaml
  .konflux/main/component-controller.yaml
  .konflux/main/component-core-interceptors.yaml
  .konflux/main/component-eventlistenersink.yaml
  .konflux/main/component-webhook.yaml
  .konflux/main/image-controller.yaml
  .konflux/main/image-core-interceptors.yaml
  .konflux/main/image-eventlistenersink.yaml
  .konflux/main/image-webhook.yaml
  .konflux/main/tests.yaml
  .tekton/boussole.yaml
  .tekton/tektoncd-triggers-main-controller-pull-request.yaml
  .tekton/tektoncd-triggers-main-controller-push.yaml
  .tekton/tektoncd-triggers-main-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-main-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-main-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-main-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-main-webhook-push.yaml
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Red Hat Konflux purge tektoncd-triggers-1-17-core-interceptors Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-1-17-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-1-17-core-interceptors-push.yaml
Due: none

Red Hat Konflux purge tektoncd-triggers-1-17-webhook Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-1-17-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-1-17-webhook-push.yaml
Due: none

Red Hat Konflux purge tektoncd-triggers-1-17-eventlistenersink Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-1-17-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-1-17-eventlistenersink-push.yaml
Due: none

Red Hat Konflux purge tektoncd-triggers-1-17-controller Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-1-17-controller-pull-request.yaml
  .tekton/tektoncd-triggers-1-17-controller-push.yaml
Due: none

[bot:release-v1.17.x] update konflux configuration
  .tekton/tektoncd-triggers-1-17-controller-pull-request.yaml
  .tekton/tektoncd-triggers-1-17-controller-push.yaml
  .tekton/tektoncd-triggers-1-17-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-1-17-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-1-17-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-1-17-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-1-17-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-1-17-webhook-push.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/update-sources-release-v1.17.x.yaml
Due: none

UPdate dockerfile to use ubi8
  .konflux/dockerfiles/controller.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request

UPdate dockerfile to use ubi8
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/rpms/rpms.in.yaml
  .konflux/rpms/rpms.lock.yaml
  .konflux/rpms/ubi.repo
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Delete .github/workflows/auto-merge.main.yaml
  .github/workflows/auto-merge.main.yaml
Due: none

[1-17]Update dockerfile and rpms
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push
