Repository openshift-pipelines/tektoncd-triggers: changes, and which Tekton pipelines are due for each by the changed paths.
All: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request

core-interceptors-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/core-interceptors:{{revision}}
  - name: dockerfile
  ...

eventlistenersink-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/eventlistenersink:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-triggers-main-controller-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/controller:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-triggers-main-eventlistenersink-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/eventlistenersink:{{revision}}
  - name: dockerfile
  ...

tektoncd-triggers-main-webhook-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/webhook:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

[bot] update konflux configuration
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-controller-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-core-interceptors-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-eventlistenersink-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-webhook-push.yaml
  .tekton/tektoncd-triggers-main-controller-push.yaml
  .tekton/tektoncd-triggers-main-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-main-webhook-push.yaml
Due: tektoncd-triggers-main-eventlistenersink-on-push

Delete .konflux/next/release.yaml
  .konflux/next/release.yaml
Due: none

[bot] update konflux configuration
  .konflux/next/release-plan.yaml
Due: none

[bot] update konflux configuration
  .github/workflows/update-sources.main.yaml
  .github/workflows/update-sources.next.yaml
Due: none

Update README.md
  upstream/README.md
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request

Update tekton payload from main
  .tekton/tektoncd-triggers-next-controller-pull-request.yaml
  .tekton/tektoncd-triggers-next-controller-push.yaml
  .tekton/tektoncd-triggers-next-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-next-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-next-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-next-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-next-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-next-webhook-push.yaml
Due: none

[bot] Update next from tektoncd/triggers to c6d2a8dfae9dea34cc05b37489c04bb6554a15b7
  upstream/README.md
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request

.konflux/dockerfiles: update go builder image to 1.23
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-webhook-on-pull-request

[bot] Update main from tektoncd/triggers to ed98593e35d70d40f9a7090de86b9bcbd023eca9
  head
  upstream/DEVELOPMENT.md
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request

[bot] Update main from tektoncd/triggers to 4b45dc0ce05f4be7ee33a37b1ddaafb4c020c9fc
  head
  upstream/releases.md
  upstream/tekton/release-cheat-sheet.md
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request

[bot] update konflux configuration
  .konflux/rpms/rpms.lock.yaml
  .konflux/rpms/ubi-new.repo
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-webhook-on-pull-request

.github/workflows: remove auto-merge workflows
  .github/workflows/auto-merge.main.yaml
  .github/workflows/auto-merge.next.yaml
Due: none

[bot] update konflux configuration
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-controller-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-controller-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-core-interceptors-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-core-interceptors-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-eventlistenersink-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-eventlistenersink-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-webhook-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-webhook-push.yaml
  .tekton/tektoncd-triggers-main-controller-pull-request.yaml
  .tekton/tektoncd-triggers-main-controller-push.yaml
  .tekton/tektoncd-triggers-main-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-main-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-main-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-main-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-main-webhook-push.yaml
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request

[bot:main] update konflux configuration
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-controller-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-controller-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-core-interceptors-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-core-interceptors-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-eventlistenersink-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-eventlistenersink-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-webhook-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-webhook-push.yaml
Due: none

[bot:main] update konflux configuration
  .tekton/tektoncd-triggers-main-controller-pull-request.yaml
  .tekton/tektoncd-triggers-main-controller-push.yaml
  .tekton/tektoncd-triggers-main-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-main-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-main-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-main-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-main-webhook-push.yaml
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request

[bot:next] update konflux configuration
  .github/workflows/update-sources.main.yaml
  .tekton/tektoncd-triggers-next-controller-pull-request.yaml
  .tekton/tektoncd-triggers-next-controller-push.yaml
  .tekton/tektoncd-triggers-next-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-next-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-next-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-next-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-next-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-next-webhook-push.yaml
Due: none

Path conditions:
  core-interceptors-on-push: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/core-interceptors-pull-request.yaml)) or (any of: .tekton/core-interceptors-push.yaml)) or (any of: .tekton/docker-build.yaml)
  eventlistenersink-on-pull-request: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/eventlistenersink-pull-request.yaml)) or (any of: .tekton/eventlistenersink-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-triggers-main-controller-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-controller-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-eventlistenersink-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/eventlistenersink.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
