Repository openshift-pipelines/tektoncd-triggers: changes, and which Tekton pipelines are due for each by the changed paths.
All: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

core-interceptors-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/core-interceptors:{{revision}}
  - name: dockerfile
  ...

eventlistenersink-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/eventlistenersink:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-triggers-main-controller-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/controller:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-triggers-main-eventlistenersink-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/eventlistenersink:{{revision}}
  - name: dockerfile
  ...

tektoncd-triggers-main-webhook-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/webhook:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-triggers-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/webhook:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/webhook.Dockerfile
  ...

[bot:next] update konflux configuration
  .tekton/prow.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/update-sources.1.18.yaml
  .github/workflows/update-sources.next.yaml
  .tekton/prow.yaml
Due: none

Delete .konflux/patches/bump_golang_org_x_net_v0_28_0_=__v0_34_0.patch
  .konflux/patches/bump_golang_org_x_net_v0_28_0_=__v0_34_0.patch
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:release-v1.18.x] update konflux configuration
  .tekton/prow.yaml
Due: none

[bot:main] update konflux configuration
  .tekton/prow.yaml
Due: none

Update .placeholder
  .konflux/patches/.placeholder
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[1.18] Add FIPS compliance config
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

update rpms.lock.yaml to match with latest ec policy
  .konflux/rpms/rpms.in.yaml
  .konflux/rpms/rpms.lock.yaml
  .konflux/rpms/ubi.repo
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:release-v1.18.x] update konflux configuration
  .github/workflows/update-sources.release-v1.18.x.yaml
  .konflux/1.18/application.yaml
  .konflux/1.18/component-controller.yaml
  .konflux/1.18/component-core-interceptors.yaml
  .konflux/1.18/component-eventlistenersink.yaml
  .konflux/1.18/component-webhook.yaml
  .konflux/1.18/image-controller.yaml
  .konflux/1.18/image-core-interceptors.yaml
  .konflux/1.18/image-eventlistenersink.yaml
  .konflux/1.18/image-webhook.yaml
  .konflux/1.18/tests.yaml
  .tekton/tektoncd-triggers-1-18-controller-push.yaml
  .tekton/tektoncd-triggers-1-18-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-1-18-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-1-18-webhook-push.yaml
Due: none

update rpms.lock.yaml to match with latest ec policy
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/rpms/rpms.in.yaml
  .konflux/rpms/rpms.lock.yaml
  .konflux/rpms/ubi.repo
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:main] update konflux configuration
  .github/workflows/update-sources.1.18.yaml
  .github/workflows/update-sources.next.yaml
  .konflux/1.18/application.yaml
  .konflux/1.18/component-controller.yaml
  .konflux/1.18/component-core-interceptors.yaml
  .konflux/1.18/component-eventlistenersink.yaml
  .konflux/1.18/component-webhook.yaml
  .konflux/1.18/image-controller.yaml
  .konflux/1.18/image-core-interceptors.yaml
  .konflux/1.18/image-eventlistenersink.yaml
  .konflux/1.18/image-webhook.yaml
  .konflux/1.18/tests.yaml
  .konflux/next/application.yaml
  .konflux/next/component-controller.yaml
  .konflux/next/component-core-interceptors.yaml
  .konflux/next/component-eventlistenersink.yaml
  .konflux/next/component-webhook.yaml
  .konflux/next/image-controller.yaml
  .konflux/next/image-core-interceptors.yaml
  .konflux/next/image-eventlistenersink.yaml
  .konflux/next/image-webhook.yaml
  .konflux/next/release-plan.yaml
  .konflux/next/tests.yaml
  .tekton/prow.yaml
  .tekton/tektoncd-triggers-main-controller-push.yaml
  .tekton/tektoncd-triggers-main-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-main-webhook-push.yaml
Due: tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-push

[bot:next] update konflux configuration
  .github/workflows/update-sources.next.yaml
  .konflux/next/application.yaml
  .konflux/next/component-controller.yaml
  .konflux/next/component-core-interceptors.yaml
  .konflux/next/component-eventlistenersink.yaml
  .konflux/next/component-webhook.yaml
  .konflux/next/image-controller.yaml
  .konflux/next/image-core-interceptors.yaml
  .konflux/next/image-eventlistenersink.yaml
  .konflux/next/image-webhook.yaml
  .konflux/next/release-plan.yaml
  .konflux/next/tests.yaml
  .tekton/tektoncd-triggers-next-controller-push.yaml
  .tekton/tektoncd-triggers-next-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-next-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-next-webhook-push.yaml
Due: none

Fix RPMs
  .konflux/rpms/rpms.in.yaml
  .konflux/rpms/rpms.lock.yaml
  .konflux/rpms/ubi.repo
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:main] update konflux configuration
  .tekton/boussole.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/update-sources.yaml
  .konflux/main/image-controller.yaml
  .konflux/main/image-core-interceptors.yaml
  .konflux/main/image-eventlistenersink.yaml
  .konflux/main/image-webhook.yaml
  .tekton/tektoncd-triggers-main-controller-pull-request.yaml
  .tekton/tektoncd-triggers-main-controller-push.yaml
  .tekton/tektoncd-triggers-main-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-main-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-main-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-main-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-main-webhook-push.yaml
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:next] update konflux configuration
  .github/workflows/update-sources.yaml
  .konflux/next/image-controller.yaml
  .konflux/next/image-core-interceptors.yaml
  .konflux/next/image-eventlistenersink.yaml
  .konflux/next/image-webhook.yaml
  .tekton/tektoncd-triggers-next-controller-pull-request.yaml
  .tekton/tektoncd-triggers-next-controller-push.yaml
  .tekton/tektoncd-triggers-next-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-next-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-next-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-next-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-next-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-next-webhook-push.yaml
Due: none

[bot:release-v1.18.x] update konflux configuration
  .github/workflows/update-sources.yaml
  .konflux/1.18/image-controller.yaml
  .konflux/1.18/image-core-interceptors.yaml
  .konflux/1.18/image-eventlistenersink.yaml
  .konflux/1.18/image-webhook.yaml
  .tekton/tektoncd-triggers-1-18-controller-pull-request.yaml
  .tekton/tektoncd-triggers-1-18-controller-push.yaml
  .tekton/tektoncd-triggers-1-18-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-1-18-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-1-18-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-1-18-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-1-18-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-1-18-webhook-push.yaml
Due: none

Path conditions:
  core-interceptors-on-push: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/core-interceptors-pull-request.yaml)) or (any of: .tekton/core-interceptors-push.yaml)) or (any of: .tekton/docker-build.yaml)
  eventlistenersink-on-pull-request: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/eventlistenersink-pull-request.yaml)) or (any of: .tekton/eventlistenersink-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-triggers-main-controller-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-controller-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-eventlistenersink-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/eventlistenersink.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-push.yaml)
