Repository openshift-pipelines/tektoncd-triggers: changes, and which Tekton pipelines are due for each by the changed paths.
All: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request

Path conditions:
  core-interceptors-on-push: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/core-interceptors-pull-request.yaml)) or (any of: .tekton/core-interceptors-push.yaml)) or (any of: .tekton/docker-build.yaml)
  eventlistenersink-on-pull-request: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/eventlistenersink-pull-request.yaml)) or (any of: .tekton/eventlistenersink-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-triggers-main-controller-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/controller.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-controller-pull-request.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-triggers-main-eventlistenersink-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/eventlistenersink.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-pull-request.yaml)) or (any of: .tekton/docker-build.yaml)

[bot] update konflux configuration
  .github/workflows/update-sources.main.yaml
Due: none

.tekton: add required task `rpms-signature-scan`
  .tekton/docker-build-ta.yaml
Due: tektoncd-triggers-main-eventlistenersink-on-push

[bot] update konflux configuration
  .github/workflows/auto-merge.next.yaml
  .github/workflows/update-sources.next.yaml
  .konflux/main/tests-on-push.yaml
  .konflux/next/application.yaml
  .konflux/next/component-controller.yaml
  .konflux/next/component-core-interceptors.yaml
  .konflux/next/component-eventlistenersink.yaml
  .konflux/next/component-webhook.yaml
  .konflux/next/image-controller.yaml
  .konflux/next/image-core-interceptors.yaml
  .konflux/next/image-eventlistenersink.yaml
  .konflux/next/image-webhook.yaml
  .konflux/next/tests-on-push.yaml
  .konflux/next/tests.yaml
Due: none

Remove konflux payload and rename .tekton
  .konflux/main/application.yaml
  .konflux/main/component-controller.yaml
  .konflux/main/component-core-interceptors.yaml
  .konflux/main/component-eventlistenersink.yaml
  .konflux/main/component-webhook.yaml
  .konflux/main/image-controller.yaml
  .konflux/main/image-core-interceptors.yaml
  .konflux/main/image-eventlistenersink.yaml
  .konflux/main/image-webhook.yaml
  .konflux/main/tests.yaml
  .tekton/docker-build.yaml
  .tekton/tektoncd-triggers-next-controller-pull-request.yaml
  .tekton/tektoncd-triggers-next-controller-push.yaml
  .tekton/tektoncd-triggers-next-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-next-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-next-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-next-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-next-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-next-webhook-push.yaml
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-webhook-on-pull-request

Red Hat Konflux update tektoncd-triggers-next-controller Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-next-controller-pull-request.yaml
  .tekton/tektoncd-triggers-next-controller-push.yaml
Due: none

Red Hat Konflux update tektoncd-triggers-next-core-interceptors Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-next-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-next-core-interceptors-push.yaml
Due: none

Red Hat Konflux update tektoncd-triggers-next-eventlistenersink Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-next-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-next-eventlistenersink-push.yaml
Due: none

Red Hat Konflux update tektoncd-triggers-next-webhook Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-next-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-next-webhook-push.yaml
Due: none

[bot] update konflux configuration
  .github/workflows/update-sources.main.yaml
  .github/workflows/update-sources.next.yaml
Due: none

[bot] update konflux configuration
  .github/workflows/update-sources.next.yaml
Due: none

Add tenant release plan for triggers
  .konflux/next/release-plan.yaml
  .konflux/next/release.yaml
Due: none

Update release-plan.yaml
  .konflux/next/release-plan.yaml
Due: none

Update README.md
  upstream/README.md
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request

[bot] Update next from tektoncd/triggers to c6d2a8dfae9dea34cc05b37489c04bb6554a15b7
  upstream/README.md
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request

Add release plan for nightly release
  .konflux/next/release-plan.yaml
  .konflux/next/release.yaml
Due: none

[bot] update konflux configuration
  .konflux/tekton/next/.tekton/docker-build-ta.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-controller-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-controller-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-core-interceptors-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-core-interceptors-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-eventlistenersink-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-eventlistenersink-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-webhook-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-webhook-push.yaml
  .tekton/tektoncd-triggers-main-controller-pull-request.yaml
  .tekton/tektoncd-triggers-main-controller-push.yaml
  .tekton/tektoncd-triggers-main-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-main-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-main-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-main-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-main-webhook-push.yaml
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-webhook-on-pull-request

[bot] update konflux configuration
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-controller-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-controller-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-core-interceptors-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-core-interceptors-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-eventlistenersink-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-eventlistenersink-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-webhook-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-webhook-push.yaml
  .tekton/tektoncd-triggers-main-controller-pull-request.yaml
  .tekton/tektoncd-triggers-main-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-main-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-main-webhook-pull-request.yaml
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-webhook-on-pull-request

[bot] update konflux configuration
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-controller-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-core-interceptors-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-eventlistenersink-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-triggers-next-webhook-push.yaml
  .tekton/tektoncd-triggers-main-controller-push.yaml
  .tekton/tektoncd-triggers-main-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-main-webhook-push.yaml
Due: tektoncd-triggers-main-eventlistenersink-on-push
