Repository openshift-pipelines/tektoncd-triggers: changes, and which Tekton pipelines are due for each by the changed paths.
All: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Path conditions:
  core-interceptors-on-push: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/core-interceptors-pull-request.yaml)) or (any of: .tekton/core-interceptors-push.yaml)) or (any of: .tekton/docker-build.yaml)
  eventlistenersink-on-pull-request: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/eventlistenersink-pull-request.yaml)) or (any of: .tekton/eventlistenersink-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-triggers-main-controller-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-controller-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-core-interceptors-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/core-interceptors.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-core-interceptors-push.yaml)
  tektoncd-triggers-main-eventlistenersink-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/eventlistenersink.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-push.yaml)

[bot] Update next from tektoncd/triggers:release-v0.37.x to ea64a84f4a794fc7450e896f941d28cf21c418e3
  head
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/golang.org/x/crypto/internal/poly1305/mac_noasm.go
  upstream/vendor/golang.org/x/crypto/internal/poly1305/sum_asm.go
  upstream/vendor/golang.org/x/crypto/internal/poly1305/sum_riscv64.s
  upstream/vendor/golang.org/x/tools/go/types/objectpath/objectpath.go
  upstream/vendor/golang.org/x/tools/internal/imports/fix.go
  upstream/vendor/golang.org/x/tools/internal/imports/mod.go
  upstream/vendor/golang.org/x/tools/internal/imports/source_env.go
  upstream/vendor/golang.org/x/tools/internal/modindex/directories.go
  upstream/vendor/golang.org/x/tools/internal/modindex/index.go
  upstream/vendor/golang.org/x/tools/internal/modindex/lookup.go
  upstream/vendor/golang.org/x/tools/internal/modindex/modindex.go
  upstream/vendor/golang.org/x/tools/internal/modindex/symbols.go
  upstream/vendor/golang.org/x/tools/internal/stdlib/deps.go
  upstream/vendor/golang.org/x/tools/internal/stdlib/manifest.go
  upstream/vendor/modules.txt
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot] Update release-v1.24.x from tektoncd/triggers:release-v0.37.x to ea64a84f4a794fc7450e896f941d28cf21c418e3
  head
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/golang.org/x/crypto/internal/poly1305/mac_noasm.go
  upstream/vendor/golang.org/x/crypto/internal/poly1305/sum_asm.go
  upstream/vendor/golang.org/x/crypto/internal/poly1305/sum_riscv64.s
  upstream/vendor/golang.org/x/tools/go/types/objectpath/objectpath.go
  upstream/vendor/golang.org/x/tools/internal/imports/fix.go
  upstream/vendor/golang.org/x/tools/internal/imports/mod.go
  upstream/vendor/golang.org/x/tools/internal/imports/source_env.go
  upstream/vendor/golang.org/x/tools/internal/modindex/directories.go
  upstream/vendor/golang.org/x/tools/internal/modindex/index.go
  upstream/vendor/golang.org/x/tools/internal/modindex/lookup.go
  upstream/vendor/golang.org/x/tools/internal/modindex/modindex.go
  upstream/vendor/golang.org/x/tools/internal/modindex/symbols.go
  upstream/vendor/golang.org/x/tools/internal/stdlib/deps.go
  upstream/vendor/golang.org/x/tools/internal/stdlib/manifest.go
  upstream/vendor/modules.txt
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot] Update next from tektoncd/triggers:release-v0.37.x to 266f9010cd6b72dabdcf4d56b55b6e1201095a87
  head
  upstream/tekton/publish.yaml
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot] Update nightly from tektoncd/triggers:main to 619da327e3882c1c7c487a8467e4953aec7fdf55
  head
  upstream/.github/workflows/go-coverage.yml
  upstream/tekton/publish.yaml
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot] Update release-v1.24.x from tektoncd/triggers:release-v0.37.x to 266f9010cd6b72dabdcf4d56b55b6e1201095a87
  head
  upstream/tekton/publish.yaml
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:next] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:release-v1.22.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .tekton/tektoncd-triggers-1-22-controller-pull-request.yaml
  .tekton/tektoncd-triggers-1-22-controller-push.yaml
  .tekton/tektoncd-triggers-1-22-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-1-22-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-1-22-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-1-22-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-1-22-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-1-22-webhook-push.yaml
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot] Update nightly from tektoncd/triggers:main to 6098624b377e4b8ab1bc729f851a994fca47a6b9
  head
  upstream/cmd/controller/main.go
  upstream/config/controller.yaml
  upstream/docs/eventlisteners.md
  upstream/pkg/adapter/adapter.go
  upstream/pkg/reconciler/eventlistener/eventlistener_test.go
  upstream/pkg/reconciler/eventlistener/resources/config.go
  upstream/pkg/reconciler/eventlistener/resources/container.go
  upstream/pkg/reconciler/eventlistener/resources/container_test.go
  upstream/pkg/reconciler/eventlistener/resources/custom_test.go
  upstream/pkg/sink/initialization.go
  upstream/pkg/sink/sink.go
  upstream/pkg/sink/validate_payload.go
  upstream/pkg/sink/validate_payload_test.go
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:release-v1.24.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
Due: none

[bot] Update nightly from tektoncd/triggers:main to a85c8099f659388484b32b7b9c695f08c0de0cff
  head
  upstream/pkg/interceptors/github/github.go
  upstream/pkg/interceptors/github/github_test.go
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:release-v1.22.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:release-v1.24.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:release-v1.15.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:nightly] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:release-v1.23.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .tekton/tektoncd-triggers-1-23-controller-pull-request.yaml
  .tekton/tektoncd-triggers-1-23-controller-push.yaml
  .tekton/tektoncd-triggers-1-23-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-1-23-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-1-23-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-1-23-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-1-23-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-1-23-webhook-push.yaml
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Revert "[bot] Update release-v1.22.x from tektoncd/triggers:release-v0.35.x to 72ad4eda38d96540182c6bf98fa12565ab5bab46"
  head
  upstream/cmd/interceptors/main.go
  upstream/config/config-feature-flags.yaml
  upstream/config/interceptors/config-core-interceptors.yaml
  upstream/config/interceptors/core-interceptors-deployment.yaml
  upstream/docs/install.md
  upstream/docs/interceptors.md
  upstream/examples/v1beta1/github-add-changed-files-pr/01-secret.yaml
  upstream/examples/v1beta1/github-add-changed-files-pr/curl.sh
  upstream/examples/v1beta1/github-add-changed-files-pr/github-eventlistener-interceptor.yaml
  upstream/examples/v1beta1/github-add-changed-files-pr/rbac.yaml
  upstream/examples/v1beta1/github-add-changed-files-push-cel/01-secret.yaml
  upstream/examples/v1beta1/github-add-changed-files-push-cel/curl.sh
  upstream/examples/v1beta1/github-add-changed-files-push-cel/github-eventlistener-interceptor.yaml
  upstream/examples/v1beta1/github-add-changed-files-push-cel/rbac.yaml
  upstream/examples/v1beta1/github-owners/curl.sh
  upstream/examples/v1beta1/github/curl.sh
  upstream/pkg/apis/config/core_interceptors.go
  upstream/pkg/apis/config/core_interceptors_test.go
  upstream/pkg/apis/config/feature_flags.go
  upstream/pkg/apis/config/feature_flags_test.go
  upstream/pkg/apis/config/store.go
  upstream/pkg/apis/config/store_test.go
  upstream/pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  upstream/pkg/apis/config/zz_generated.deepcopy.go
  upstream/pkg/interceptors/github/github.go
  upstream/pkg/interceptors/github/github_test.go
  upstream/pkg/interceptors/interceptors_test.go
  upstream/pkg/interceptors/server/server.go
  upstream/pkg/interceptors/server/server_test.go
  upstream/pkg/sink/sink_test.go
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:release-v1.22.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
Due: none

[bot] Update nightly from tektoncd/triggers:main to 2c9aa0c6cb6cb9fcdbd76fb8e81d0e86122a73d3
  head
  upstream/.github/workflows/go-coverage.yml
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

rebuild: trigger image rebuild 2026-10-06T04:26:57Z
  .konflux/patches/.placeholder
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:next] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .tekton/tektoncd-triggers-next-controller-push.yaml
  .tekton/tektoncd-triggers-next-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-next-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-next-webhook-push.yaml
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push
