Repository openshift-pipelines/tektoncd-triggers: changes, and which Tekton pipelines are due for each by the changed paths.
All: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Path conditions:
  core-interceptors-on-push: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/core-interceptors-pull-request.yaml)) or (any of: .tekton/core-interceptors-push.yaml)) or (any of: .tekton/docker-build.yaml)
  eventlistenersink-on-pull-request: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/eventlistenersink-pull-request.yaml)) or (any of: .tekton/eventlistenersink-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-triggers-main-controller-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-controller-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-core-interceptors-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/core-interceptors.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-core-interceptors-push.yaml)
  tektoncd-triggers-main-eventlistenersink-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/eventlistenersink.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-push.yaml)

[bot:main] update konflux configuration
  .github/workflows/update-sources-release-v1.15.x.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/update-sources-release-v1.14.x.yaml
Due: none

Update .placeholder
  .konflux/patches/.placeholder
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:main] update konflux configuration
  .github/workflows/auto-merge-upstream-main.yaml
  .github/workflows/update-sources-main.yaml
  .tekton/tektoncd-triggers-main-controller-pull-request.yaml
  .tekton/tektoncd-triggers-main-controller-push.yaml
  .tekton/tektoncd-triggers-main-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-main-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-main-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-main-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-main-webhook-push.yaml
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Red Hat Konflux kflux-prd-rh02 update tektoncd-triggers-main-controller Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-main-controller-pull-request.yaml
  .tekton/tektoncd-triggers-main-controller-push.yaml
Due: tektoncd-triggers-main-controller-on-pull-request

Red Hat Konflux kflux-prd-rh02 update tektoncd-triggers-main-core-interceptors Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-main-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-main-core-interceptors-push.yaml
Due: tektoncd-triggers-main-core-interceptors-on-push

Red Hat Konflux kflux-prd-rh02 update tektoncd-triggers-main-eventlistenersink Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-main-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml
Due: tektoncd-triggers-main-eventlistenersink-on-push

Red Hat Konflux kflux-prd-rh02 update tektoncd-triggers-main-webhook Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-main-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-main-webhook-push.yaml
Due: tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:main] update konflux configuration
  .github/workflows/update-sources-release-v1.17.x.yaml
Due: none

[bot:release-v1.17.x] update konflux configuration
  .tekton/tektoncd-triggers-1-17-controller-pull-request.yaml
  .tekton/tektoncd-triggers-1-17-controller-push.yaml
  .tekton/tektoncd-triggers-1-17-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-1-17-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-1-17-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-1-17-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-1-17-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-1-17-webhook-push.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/auto-merge-upstream-release-v1.17.x.yaml
  .github/workflows/update-sources-release-v1.17.x.yaml
Due: none

[bot] Update main from tektoncd/triggers to 7f33b43633e9fe89fce521c604b3959f7524700b
  head
  upstream/.github/workflows/ci.yaml
  upstream/.github/workflows/golangci-lint.yaml
  upstream/.golangci.yml
  upstream/tekton/publish.yaml
  upstream/tekton/release-pipeline.yaml
  upstream/test/e2e-tests-kind-prow.env
  upstream/test/eventlistener_test.go
  upstream/test/gh-e2e-tests.sh
  upstream/test/setup-kind.sh
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot] Update main from tektoncd/triggers to 5e3c29294c7d40d5f1636ce76d2c003c7ae6a329
  head
  upstream/config/controller.yaml
  upstream/config/interceptors/core-interceptors-deployment.yaml
  upstream/config/webhook.yaml
  upstream/pkg/reconciler/eventlistener/eventlistener_test.go
  upstream/pkg/reconciler/eventlistener/resources/custom.go
  upstream/pkg/reconciler/eventlistener/resources/custom_test.go
  upstream/pkg/reconciler/eventlistener/resources/deployment.go
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Konflux build pipeline service account migration for tektoncd-triggers-1-14-controller Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-1-14-controller-pull-request.yaml
  .tekton/tektoncd-triggers-1-14-controller-push.yaml
Due: none

Konflux build pipeline service account migration for tektoncd-triggers-1-14-core-interceptors Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-1-14-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-1-14-core-interceptors-push.yaml
Due: none

Konflux build pipeline service account migration for tektoncd-triggers-1-14-eventlistenersink Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-1-14-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-1-14-eventlistenersink-push.yaml
Due: none

Konflux build pipeline service account migration for tektoncd-triggers-1-14-webhook Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-1-14-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-1-14-webhook-push.yaml
Due: none

Konflux build pipeline service account migration for tektoncd-triggers-1-15-controller Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-1-15-controller-pull-request.yaml
  .tekton/tektoncd-triggers-1-15-controller-push.yaml
Due: none

Konflux build pipeline service account migration for tektoncd-triggers-1-15-core-interceptors Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-1-15-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-1-15-core-interceptors-push.yaml
Due: none

Konflux build pipeline service account migration for tektoncd-triggers-1-15-eventlistenersink Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-1-15-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-1-15-eventlistenersink-push.yaml
Due: none

Konflux build pipeline service account migration for tektoncd-triggers-1-15-webhook Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-1-15-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-1-15-webhook-push.yaml
Due: none

Konflux build pipeline service account migration for tektoncd-triggers-1-18-controller Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-1-18-controller-pull-request.yaml
  .tekton/tektoncd-triggers-1-18-controller-push.yaml
Due: none

Konflux build pipeline service account migration for tektoncd-triggers-1-18-core-interceptors Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-1-18-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-1-18-core-interceptors-push.yaml
Due: none

Konflux build pipeline service account migration for tektoncd-triggers-1-18-eventlistenersink Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-1-18-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-1-18-eventlistenersink-push.yaml
Due: none

Konflux build pipeline service account migration for tektoncd-triggers-1-18-webhook Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-1-18-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-1-18-webhook-push.yaml
Due: none

Konflux build pipeline service account migration for tektoncd-triggers-main-controller Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-main-controller-pull-request.yaml
  .tekton/tektoncd-triggers-main-controller-push.yaml
Due: tektoncd-triggers-main-controller-on-pull-request

Konflux build pipeline service account migration for tektoncd-triggers-main-core-interceptors Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-main-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-main-core-interceptors-push.yaml
Due: tektoncd-triggers-main-core-interceptors-on-push

Konflux build pipeline service account migration for tektoncd-triggers-main-eventlistenersink Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-main-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml
Due: tektoncd-triggers-main-eventlistenersink-on-push

Konflux build pipeline service account migration for tektoncd-triggers-main-webhook Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-main-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-main-webhook-push.yaml
Due: tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Konflux build pipeline service account migration for tektoncd-triggers-next-controller Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-next-controller-pull-request.yaml
  .tekton/tektoncd-triggers-next-controller-push.yaml
Due: none

Konflux build pipeline service account migration for tektoncd-triggers-next-core-interceptors Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-next-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-next-core-interceptors-push.yaml
Due: none

Konflux build pipeline service account migration for tektoncd-triggers-next-eventlistenersink Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-next-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-next-eventlistenersink-push.yaml
Due: none

Konflux build pipeline service account migration for tektoncd-triggers-next-webhook Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-next-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-next-webhook-push.yaml
Due: none

[bot:release-v1.15.x] update konflux configuration
  .tekton/tektoncd-triggers-1-15-controller-push.yaml
  .tekton/tektoncd-triggers-1-15-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-1-15-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-1-15-webhook-push.yaml
Due: none
