Repository openshift-pipelines/tektoncd-triggers: changes, and which Tekton pipelines are due for each by the changed paths.
All: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

core-interceptors-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/core-interceptors:{{revision}}
  - name: dockerfile
  ...

eventlistenersink-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/eventlistenersink:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-triggers-main-controller-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/controller:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-triggers-main-core-interceptors-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/main/triggers-core-interceptors-rhel9:{{revision}}
  - name: dockerfile
  ...

tektoncd-triggers-main-eventlistenersink-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/eventlistenersink:{{revision}}
  - name: dockerfile
  ...

tektoncd-triggers-main-webhook-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/webhook:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-triggers-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/webhook:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/webhook.Dockerfile
  ...

fix compiling tags for eventlistenersink.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
Due: none

[bot] Update main from tektoncd/triggers to cc528d6f549c442acb1f642aa74fdc120d628015
  head
  upstream/config/controller.yaml
  upstream/releases.md
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot] Update main from tektoncd/triggers to 96c917b8f603968d611581bb58d66eb4a91bbebf
  head
  upstream/cmd/triggerrun/cmd/root.go
  upstream/pkg/sink/sink.go
  upstream/pkg/sink/sink_test.go
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:release-v1.21.x] update konflux configuration
  .tekton/tektoncd-triggers-1-21-controller-pull-request.yaml
  .tekton/tektoncd-triggers-1-21-controller-push.yaml
  .tekton/tektoncd-triggers-1-21-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-1-21-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-1-21-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-1-21-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-1-21-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-1-21-webhook-push.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/auto-merge-upstream-release-v1.21.x.yaml
  .github/workflows/update-sources-release-v1.21.x.yaml
Due: none

[bot:release-v1.20.x] update konflux configuration
  .tekton/tektoncd-triggers-1-20-controller-pull-request.yaml
  .tekton/tektoncd-triggers-1-20-controller-push.yaml
  .tekton/tektoncd-triggers-1-20-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-1-20-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-1-20-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-1-20-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-1-20-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-1-20-webhook-push.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/auto-merge-upstream-release-v1.20.x.yaml
  .github/workflows/update-sources-release-v1.20.x.yaml
Due: none

[bot] Update main from tektoncd/triggers to 8ff0d9cf67b27af9e582503a753ee2e31c8faee9
  head
  upstream/cmd/triggerrun/cmd/root.go
  upstream/pkg/sink/sink.go
  upstream/pkg/sink/sink_test.go
  upstream/tekton/publish.yaml
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

update version from next to 1.20 for docker files
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

remove next dir
  .konflux/next/application.yaml
  .konflux/next/component-controller.yaml
  .konflux/next/component-core-interceptors.yaml
  .konflux/next/component-eventlistenersink.yaml
  .konflux/next/component-webhook.yaml
  .konflux/next/image-controller.yaml
  .konflux/next/image-core-interceptors.yaml
  .konflux/next/image-eventlistenersink.yaml
  .konflux/next/image-webhook.yaml
  .konflux/next/release-plan.yaml
  .konflux/next/tests.yaml
Due: none

Update gobuilder version to 1.24
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

remove next files
  .tekton/tektoncd-triggers-next-controller-pull-request.yaml
  .tekton/tektoncd-triggers-next-controller-push.yaml
  .tekton/tektoncd-triggers-next-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-next-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-next-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-next-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-next-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-next-webhook-push.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/update-sources-release-v1.20.x.yaml
Due: none

Update controller.Dockerfile
  .konflux/dockerfiles/controller.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request

Update core-interceptors.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
Due: tektoncd-triggers-main-core-interceptors-on-push

[bot] Update main from tektoncd/triggers to a52a0c421bbadfab1a564dcb8e8f1432c98764eb
  head
  upstream/releases.md
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Update eventlistenersink.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
Due: none

Update webhook.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Update ubi SHA
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

fix(deps): update golang.org/x/xerrors digest to 7835f81
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/golang.org/x/xerrors/LICENSE
  upstream/vendor/golang.org/x/xerrors/adaptor.go
  upstream/vendor/golang.org/x/xerrors/doc.go
  upstream/vendor/golang.org/x/xerrors/fmt.go
  upstream/vendor/golang.org/x/xerrors/format.go
  upstream/vendor/golang.org/x/xerrors/wrap.go
  upstream/vendor/modules.txt
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(deps): update k8s.io/gengo digest to c297c0c
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/k8s.io/gengo/args/args.go
  upstream/vendor/k8s.io/gengo/examples/deepcopy-gen/generators/deepcopy.go
  upstream/vendor/k8s.io/gengo/examples/defaulter-gen/generators/defaulter.go
  upstream/vendor/k8s.io/gengo/generator/import_tracker.go
  upstream/vendor/k8s.io/gengo/namer/import_tracker.go
  upstream/vendor/k8s.io/gengo/namer/namer.go
  upstream/vendor/modules.txt
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(deps): update k8s.io/utils digest to 0af2bda
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/k8s.io/utils/buffer/ring_growing.go
  upstream/vendor/k8s.io/utils/clock/testing/fake_clock.go
  upstream/vendor/k8s.io/utils/integer/integer.go
  upstream/vendor/k8s.io/utils/lru/lru.go
  upstream/vendor/k8s.io/utils/net/multi_listen.go
  upstream/vendor/k8s.io/utils/pointer/pointer.go
  upstream/vendor/k8s.io/utils/ptr/OWNERS
  upstream/vendor/k8s.io/utils/ptr/README.md
  upstream/vendor/k8s.io/utils/ptr/ptr.go
  upstream/vendor/k8s.io/utils/trace/trace.go
  upstream/vendor/modules.txt
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Path conditions:
  core-interceptors-on-push: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/core-interceptors-pull-request.yaml)) or (any of: .tekton/core-interceptors-push.yaml)) or (any of: .tekton/docker-build.yaml)
  eventlistenersink-on-pull-request: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/eventlistenersink-pull-request.yaml)) or (any of: .tekton/eventlistenersink-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-triggers-main-controller-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-controller-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-core-interceptors-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/core-interceptors.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-core-interceptors-push.yaml)
  tektoncd-triggers-main-eventlistenersink-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/eventlistenersink.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-push.yaml)
