Repository openshift-pipelines/tektoncd-triggers: changes, and which Tekton pipelines are due for each by the changed paths.
All: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Path conditions:
  core-interceptors-on-push: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/core-interceptors-pull-request.yaml)) or (any of: .tekton/core-interceptors-push.yaml)) or (any of: .tekton/docker-build.yaml)
  eventlistenersink-on-pull-request: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/eventlistenersink-pull-request.yaml)) or (any of: .tekton/eventlistenersink-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-triggers-main-controller-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-controller-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-core-interceptors-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/core-interceptors.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-core-interceptors-push.yaml)
  tektoncd-triggers-main-eventlistenersink-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/eventlistenersink.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-push.yaml)

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-16-core-interceptors
  .konflux/dockerfiles/core-interceptors.Dockerfile
Due: tektoncd-triggers-main-core-interceptors-on-push

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-16-eventlistenersink
  .konflux/dockerfiles/eventlistenersink.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-16-webhook
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-17-controller
  .konflux/dockerfiles/controller.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-17-core-interceptors
  .konflux/dockerfiles/core-interceptors.Dockerfile
Due: tektoncd-triggers-main-core-interceptors-on-push

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-17-eventlistenersink
  .konflux/dockerfiles/eventlistenersink.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-17-webhook
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-18-controller
  .konflux/dockerfiles/controller.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-18-core-interceptors
  .konflux/dockerfiles/core-interceptors.Dockerfile
Due: tektoncd-triggers-main-core-interceptors-on-push

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-18-eventlistenersink
  .konflux/dockerfiles/eventlistenersink.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-18-webhook
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-19-controller
  .konflux/dockerfiles/controller.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-19-core-interceptors
  .konflux/dockerfiles/core-interceptors.Dockerfile
Due: tektoncd-triggers-main-core-interceptors-on-push

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-19-eventlistenersink
  .konflux/dockerfiles/eventlistenersink.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-19-webhook
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Update rpms.in.yaml
  .konflux/rpms/rpms.in.yaml
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Update controller.Dockerfile
  .konflux/dockerfiles/controller.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request

Update core-interceptors.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
Due: tektoncd-triggers-main-core-interceptors-on-push

Update eventlistenersink.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
Due: none

Update webhook.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot] Update main from tektoncd/triggers to ea589836a4db0a949113e357b59e495330149562
  head
  upstream/.github/workflows/ci.yaml
  upstream/.github/workflows/presubmit-ci.yaml
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot] Update main from tektoncd/triggers to b71606a84b763e5d9c9ac9a9024f68bb0ac5973e
  head
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/go-coverage.yml
  upstream/.github/workflows/golangci-lint.yaml
  upstream/cmd/binding-eval/cmd/root.go
  upstream/cmd/binding-eval/cmd/root_test.go
  upstream/cmd/binding-eval/testdata/http_no_content_length.txt
  upstream/cmd/binding-eval/testdata/http_wrong_content_length.txt
  upstream/cmd/cel-eval/cmd/root.go
  upstream/cmd/cel-eval/cmd/root_test.go
  upstream/cmd/cel-eval/testdata/http_no_content_length.txt
  upstream/cmd/cel-eval/testdata/http_wrong_content_length.txt
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Add files via upload
  .github/renovate.json
Due: none

Add Renovate json
  .github/renovate.json
Due: none

[bot] Update main from tektoncd/triggers to 293336ab95cbf77b8696b8d92b80324a6cf8db6f
  head
  upstream/.github/workflows/golangci-lint.yaml
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:main] update konflux configuration
  .github/workflows/update-sources-next.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/auto-merge-upstream-main.yaml
  .github/workflows/update-sources-main.yaml
  .tekton/tektoncd-triggers-main-controller-pull-request.yaml
  .tekton/tektoncd-triggers-main-controller-push.yaml
  .tekton/tektoncd-triggers-main-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-main-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-main-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-main-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-main-webhook-push.yaml
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:main] update konflux configuration
  .github/renovate.json
Due: none
