Repository openshift-pipelines/tektoncd-triggers: changes, and which Tekton pipelines are due for each by the changed paths.
All: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

core-interceptors-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/core-interceptors:{{revision}}
  - name: dockerfile
  ...

eventlistenersink-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/eventlistenersink:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-triggers-main-controller-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/controller:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-triggers-main-core-interceptors-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/main/triggers-core-interceptors-rhel9:{{revision}}
  - name: dockerfile
  ...

tektoncd-triggers-main-eventlistenersink-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/eventlistenersink:{{revision}}
  - name: dockerfile
  ...

tektoncd-triggers-main-webhook-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/webhook:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-triggers-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/webhook:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/webhook.Dockerfile
  ...

Update module github.com/sivchari/containedctx to v1.0.3
  upstream/tools/go.mod
  upstream/tools/go.sum
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Update module github.com/spf13/pflag to v1.0.7
  upstream/go.mod
  upstream/go.sum
  upstream/tools/go.mod
  upstream/tools/go.sum
  upstream/vendor/github.com/spf13/pflag/.editorconfig
  upstream/vendor/github.com/spf13/pflag/.golangci.yaml
  upstream/vendor/github.com/spf13/pflag/README.md
  upstream/vendor/github.com/spf13/pflag/bool_func.go
  upstream/vendor/github.com/spf13/pflag/count.go
  upstream/vendor/github.com/spf13/pflag/errors.go
  upstream/vendor/github.com/spf13/pflag/flag.go
  upstream/vendor/github.com/spf13/pflag/func.go
  upstream/vendor/github.com/spf13/pflag/golangflag.go
  upstream/vendor/github.com/spf13/pflag/ip.go
  upstream/vendor/github.com/spf13/pflag/ipnet_slice.go
  upstream/vendor/github.com/spf13/pflag/string_array.go
  upstream/vendor/github.com/spf13/pflag/text.go
  upstream/vendor/github.com/spf13/pflag/time.go
  upstream/vendor/modules.txt
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Update module github.com/tidwall/pretty to v1.2.1
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/github.com/tidwall/pretty/README.md
  upstream/vendor/github.com/tidwall/pretty/pretty.go
  upstream/vendor/modules.txt
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Update module github.com/tidwall/sjson to v1.2.5
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/github.com/tidwall/gjson/README.md
  upstream/vendor/github.com/tidwall/gjson/SYNTAX.md
  upstream/vendor/github.com/tidwall/gjson/gjson.go
  upstream/vendor/modules.txt
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Update module github.com/tommy-muehle/go-mnd/v2 to v2.5.1
  upstream/tools/go.mod
  upstream/tools/go.sum
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Update go-openapi packages
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/github.com/go-openapi/jsonpointer/.golangci.yml
  upstream/vendor/github.com/go-openapi/jsonpointer/README.md
  upstream/vendor/github.com/go-openapi/jsonpointer/errors.go
  upstream/vendor/github.com/go-openapi/jsonpointer/pointer.go
  upstream/vendor/github.com/go-openapi/jsonreference/.golangci.yml
  upstream/vendor/github.com/go-openapi/jsonreference/README.md
  upstream/vendor/github.com/go-openapi/swag/.gitignore
  upstream/vendor/github.com/go-openapi/swag/BENCHMARK.md
  upstream/vendor/github.com/go-openapi/swag/README.md
  upstream/vendor/github.com/go-openapi/swag/errors.go
  upstream/vendor/github.com/go-openapi/swag/initialism_index.go
  upstream/vendor/github.com/go-openapi/swag/json.go
  upstream/vendor/github.com/go-openapi/swag/loading.go
  upstream/vendor/github.com/go-openapi/swag/name_lexem.go
  upstream/vendor/github.com/go-openapi/swag/post_go18.go
  upstream/vendor/github.com/go-openapi/swag/post_go19.go
  upstream/vendor/github.com/go-openapi/swag/pre_go18.go
  upstream/vendor/github.com/go-openapi/swag/pre_go19.go
  upstream/vendor/github.com/go-openapi/swag/split.go
  upstream/vendor/github.com/go-openapi/swag/string_bytes.go
  upstream/vendor/github.com/go-openapi/swag/util.go
  upstream/vendor/github.com/go-openapi/swag/yaml.go
  upstream/vendor/github.com/mailru/easyjson/jlexer/bytestostr.go
  upstream/vendor/github.com/mailru/easyjson/jlexer/lexer.go
  upstream/vendor/github.com/mailru/easyjson/jwriter/writer.go
  upstream/vendor/github.com/stretchr/testify/assert/assertion_compare.go
  upstream/vendor/github.com/stretchr/testify/assert/assertion_format.go
  upstream/vendor/github.com/stretchr/testify/assert/assertion_forward.go
  upstream/vendor/github.com/stretchr/testify/assert/assertion_order.go
  upstream/vendor/github.com/stretchr/testify/assert/assertions.go
  upstream/vendor/github.com/stretchr/testify/assert/yaml/yaml_custom.go
  upstream/vendor/github.com/stretchr/testify/assert/yaml/yaml_default.go
  upstream/vendor/github.com/stretchr/testify/assert/yaml/yaml_fail.go
  upstream/vendor/github.com/stretchr/testify/require/require.go
  upstream/vendor/github.com/stretchr/testify/require/require.go.tmpl
  upstream/vendor/github.com/stretchr/testify/require/require_forward.go
  upstream/vendor/github.com/stretchr/testify/require/requirements.go
  upstream/vendor/modules.txt
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(deps): update module cloud.google.com/go/compute/metadata to v0.7.0
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/cloud.google.com/go/compute/metadata/CHANGES.md
  upstream/vendor/cloud.google.com/go/compute/metadata/metadata.go
  upstream/vendor/cloud.google.com/go/compute/metadata/syscheck.go
  upstream/vendor/cloud.google.com/go/compute/metadata/syscheck_linux.go
  upstream/vendor/cloud.google.com/go/compute/metadata/syscheck_windows.go
  upstream/vendor/golang.org/x/sys/cpu/cpu.go
  upstream/vendor/golang.org/x/sys/cpu/cpu_linux_riscv64.go
  upstream/vendor/golang.org/x/sys/cpu/cpu_riscv64.go
  upstream/vendor/golang.org/x/sys/windows/security_windows.go
  upstream/vendor/golang.org/x/sys/windows/syscall_windows.go
  upstream/vendor/golang.org/x/sys/windows/types_windows.go
  upstream/vendor/golang.org/x/sys/windows/zsyscall_windows.go
  upstream/vendor/modules.txt
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Update module 4d63.com/gochecknoglobals to v0.2.2
  upstream/tools/go.mod
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(deps): update module github.com/ashanbrown/forbidigo to v1.6.0
  upstream/tools/go.mod
  upstream/tools/go.sum
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(deps): update module github.com/ashanbrown/makezero to v1.2.0
  upstream/tools/go.mod
  upstream/tools/go.sum
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(deps): update module github.com/bombsimon/wsl/v3 to v3.4.0
  upstream/tools/go.mod
  upstream/tools/go.sum
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(deps): update module github.com/breml/bidichk to v0.3.3
  upstream/tools/go.mod
  upstream/tools/go.sum
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(deps): update module github.com/breml/errchkjson to v0.4.1
  upstream/tools/go.mod
  upstream/tools/go.sum
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(deps): update module github.com/burntsushi/toml to v1.5.0
  upstream/tools/go.mod
  upstream/tools/go.sum
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(deps): update module github.com/butuzov/ireturn to v0.4.0
  upstream/tools/go.mod
  upstream/tools/go.sum
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(deps): update module github.com/cespare/xxhash/v2 to v2.3.0
  upstream/tools/go.mod
  upstream/tools/go.sum
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(deps): update module github.com/chavacava/garif to v0.1.0
  upstream/tools/go.mod
  upstream/tools/go.sum
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Update ubi-minimal sha to latests for 1.19.1
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Update controller.Dockerfile for fips
  .konflux/dockerfiles/controller.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request

fix compiling tags for controller.Dockerfile
  .konflux/dockerfiles/controller.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request

fix compiling tags for core-interceptors.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
Due: tektoncd-triggers-main-core-interceptors-on-push

fix compiling tags for eventlistenersink.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
Due: none

fix compiling tags Update webhook.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Path conditions:
  core-interceptors-on-push: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/core-interceptors-pull-request.yaml)) or (any of: .tekton/core-interceptors-push.yaml)) or (any of: .tekton/docker-build.yaml)
  eventlistenersink-on-pull-request: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/eventlistenersink-pull-request.yaml)) or (any of: .tekton/eventlistenersink-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-triggers-main-controller-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-controller-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-core-interceptors-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/core-interceptors.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-core-interceptors-push.yaml)
  tektoncd-triggers-main-eventlistenersink-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/eventlistenersink.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-push.yaml)
