Repository openshift-pipelines/tektoncd-triggers: changes, and which Tekton pipelines are due for each by the changed paths.
All: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

core-interceptors-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/core-interceptors:{{revision}}
  - name: dockerfile
  ...

eventlistenersink-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/eventlistenersink:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-triggers-main-controller-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/controller:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-triggers-main-core-interceptors-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/main/triggers-core-interceptors-rhel9:{{revision}}
  - name: dockerfile
  ...

tektoncd-triggers-main-eventlistenersink-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/eventlistenersink:{{revision}}
  - name: dockerfile
  ...

tektoncd-triggers-main-webhook-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/webhook:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-triggers-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/webhook:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/webhook.Dockerfile
  ...

chore(deps): update module github.com/gostaticanalysis/comment to v1.5.0
  upstream/tools/go.mod
  upstream/tools/go.sum
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(deps): update module github.com/gostaticanalysis/forcetypeassert to v0.2.0
  upstream/tools/go.mod
  upstream/tools/go.sum
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Update .placeholder
  .konflux/patches/.placeholder
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Red Hat Konflux kflux-prd-rh02 update tektoncd-triggers-1-20-core-interceptors
  .tekton/tektoncd-triggers-1-20-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-1-20-core-interceptors-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-triggers-1-20-webhook
  .tekton/tektoncd-triggers-1-20-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-1-20-webhook-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-triggers-1-20-eventlistenersink
  .tekton/tektoncd-triggers-1-20-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-1-20-eventlistenersink-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-triggers-1-20-controller
  .tekton/tektoncd-triggers-1-20-controller-pull-request.yaml
  .tekton/tektoncd-triggers-1-20-controller-push.yaml
Due: none

update ubi miniaml image
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Update rpms.in.yaml
  .konflux/rpms/rpms.in.yaml
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-19-webhook
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-19-eventlistenersink
  .konflux/dockerfiles/eventlistenersink.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-19-core-interceptors
  .konflux/dockerfiles/core-interceptors.Dockerfile
Due: tektoncd-triggers-main-core-interceptors-on-push

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-19-controller
  .konflux/dockerfiles/controller.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-18-webhook
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-18-eventlistenersink
  .konflux/dockerfiles/eventlistenersink.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-18-core-interceptors
  .konflux/dockerfiles/core-interceptors.Dockerfile
Due: tektoncd-triggers-main-core-interceptors-on-push

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-18-controller
  .konflux/dockerfiles/controller.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-17-webhook
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-17-eventlistenersink
  .konflux/dockerfiles/eventlistenersink.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-17-core-interceptors
  .konflux/dockerfiles/core-interceptors.Dockerfile
Due: tektoncd-triggers-main-core-interceptors-on-push

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-17-controller
  .konflux/dockerfiles/controller.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-16-webhook
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-16-eventlistenersink
  .konflux/dockerfiles/eventlistenersink.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-16-core-interceptors
  .konflux/dockerfiles/core-interceptors.Dockerfile
Due: tektoncd-triggers-main-core-interceptors-on-push

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-16-controller
  .konflux/dockerfiles/controller.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-15-webhook
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-15-eventlistenersink
  .konflux/dockerfiles/eventlistenersink.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-15-core-interceptors
  .konflux/dockerfiles/core-interceptors.Dockerfile
Due: tektoncd-triggers-main-core-interceptors-on-push

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-15-controller
  .konflux/dockerfiles/controller.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-14-webhook
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-14-eventlistenersink
  .konflux/dockerfiles/eventlistenersink.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-14-core-interceptors
  .konflux/dockerfiles/core-interceptors.Dockerfile
Due: tektoncd-triggers-main-core-interceptors-on-push

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-triggers-1-14-controller
  .konflux/dockerfiles/controller.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request

[bot:main] update konflux configuration
  .github/workflows/update-sources-next.yaml
Due: none

update docker file
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(deps): update module github.com/lucasb-eyer/go-colorful to v1.3.0
  upstream/tools/go.mod
  upstream/tools/go.sum
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Path conditions:
  core-interceptors-on-push: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/core-interceptors-pull-request.yaml)) or (any of: .tekton/core-interceptors-push.yaml)) or (any of: .tekton/docker-build.yaml)
  eventlistenersink-on-pull-request: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/eventlistenersink-pull-request.yaml)) or (any of: .tekton/eventlistenersink-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-triggers-main-controller-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-controller-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-core-interceptors-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/core-interceptors.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-core-interceptors-push.yaml)
  tektoncd-triggers-main-eventlistenersink-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/eventlistenersink.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-push.yaml)
