Repository openshift-pipelines/tektoncd-triggers: changes, and which Tekton pipelines are due for each by the changed paths.
All: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Path conditions:
  core-interceptors-on-push: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/core-interceptors-pull-request.yaml)) or (any of: .tekton/core-interceptors-push.yaml)) or (any of: .tekton/docker-build.yaml)
  eventlistenersink-on-pull-request: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/eventlistenersink-pull-request.yaml)) or (any of: .tekton/eventlistenersink-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-triggers-main-controller-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-controller-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-core-interceptors-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/core-interceptors.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-core-interceptors-push.yaml)
  tektoncd-triggers-main-eventlistenersink-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/eventlistenersink.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-push.yaml)

[bot:main] update konflux configuration
  .github/workflows/update-sources-release-v1.18.x.yaml
Due: none

[bot:release-v0.16.x] update konflux configuration
  .tekton/tektoncd-triggers-1-16-controller-pull-request.yaml
  .tekton/tektoncd-triggers-1-16-controller-push.yaml
  .tekton/tektoncd-triggers-1-16-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-1-16-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-1-16-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-1-16-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-1-16-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-1-16-webhook-push.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/auto-merge-upstream-release-v0.16.x.yaml
  .github/workflows/update-sources-release-v0.16.x.yaml
Due: none

[bot:release-v1.16.x] update konflux configuration
  .tekton/tektoncd-triggers-1-16-controller-pull-request.yaml
  .tekton/tektoncd-triggers-1-16-controller-push.yaml
  .tekton/tektoncd-triggers-1-16-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-1-16-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-1-16-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-1-16-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-1-16-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-1-16-webhook-push.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/auto-merge-upstream-release-v1.16.x.yaml
  .github/workflows/update-sources-release-v1.16.x.yaml
Due: none

[1-16] Update dockerfile
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .tekton/tektoncd-triggers-1-15-controller-pull-request.yaml
  .tekton/tektoncd-triggers-1-15-controller-push.yaml
  .tekton/tektoncd-triggers-1-15-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-1-15-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-1-15-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-1-15-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-1-15-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-1-15-webhook-push.yaml
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Red Hat Konflux kflux-prd-rh02 update tektoncd-triggers-1-16-controller Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-1-16-controller-pull-request.yaml
  .tekton/tektoncd-triggers-1-16-controller-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-triggers-1-16-core-interceptors Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-1-16-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-1-16-core-interceptors-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-triggers-1-16-eventlistenersink Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-1-16-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-1-16-eventlistenersink-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-triggers-1-16-webhook Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-1-16-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-1-16-webhook-push.yaml
Due: none

[1-16] remove 0.16.x files
  .github/workflows/auto-merge-upstream-release-v0.16.x.yaml
  .github/workflows/update-sources-release-v0.16.x.yaml
Due: none

Update .placeholder
  .konflux/patches/.placeholder
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(deps): update contrib.go.opencensus.io/exporter/ocagent digest to 7399e0f
  upstream/go.mod
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(deps): update github.com/golangci/unconvert digest to a129a6e
  upstream/tools/go.mod
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(deps): update github.com/golangci/gofmt digest to f2e10e0
  upstream/tools/go.mod
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(deps): update github.com/golang/groupcache digest to 2c02b82
  upstream/go.mod
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(deps): update github.com/golangci/dupl digest to f665c8d
  upstream/tools/go.mod
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(deps): update github.com/golangci/lint-1 digest to d2cdd8c
  upstream/tools/go.mod
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Fix RPMs
  .konflux/rpms/rpms.in.yaml
  .konflux/rpms/rpms.lock.yaml
  .konflux/rpms/ubi.repo
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Update rpms
  .konflux/rpms/rpms.in.yaml
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push
