Repository openshift-pipelines/tektoncd-triggers: changes, and which Tekton pipelines are due for each by the changed paths.
All: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

core-interceptors-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/core-interceptors:{{revision}}
  - name: dockerfile
  ...

eventlistenersink-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/eventlistenersink:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-triggers-main-controller-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/controller:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-triggers-main-core-interceptors-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/main/triggers-core-interceptors-rhel9:{{revision}}
  - name: dockerfile
  ...

tektoncd-triggers-main-eventlistenersink-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/eventlistenersink:{{revision}}
  - name: dockerfile
  ...

tektoncd-triggers-main-webhook-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/webhook:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-triggers-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/webhook:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/webhook.Dockerfile
  ...

[bot:nightly] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:release-v1.15.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

One Click Release: build all konflux components
  .konflux/patches/.placeholder
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:release-v1.22.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .tekton/tektoncd-triggers-1-22-controller-pull-request.yaml
  .tekton/tektoncd-triggers-1-22-controller-push.yaml
  .tekton/tektoncd-triggers-1-22-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-1-22-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-1-22-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-1-22-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-1-22-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-1-22-webhook-push.yaml
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Pin RUNTIME base image to digest for reproducible builds
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:release-v1.24.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot] Update release-v1.24.x from tektoncd/triggers:release-v0.37.x to 2f9392551e0ed560274308b7207d67e64e771128
  head
  upstream/cmd/interceptors/main.go
  upstream/config/config-feature-flags.yaml
  upstream/config/interceptors/config-core-interceptors.yaml
  upstream/config/interceptors/core-interceptors-deployment.yaml
  upstream/docs/install.md
  upstream/docs/interceptors.md
  upstream/examples/v1beta1/github-add-changed-files-pr/00-rbac.yaml
  upstream/examples/v1beta1/github-add-changed-files-pr/01-secret.yaml
  upstream/examples/v1beta1/github-add-changed-files-pr/02-github-eventlistener-interceptor.yaml
  upstream/examples/v1beta1/github-add-changed-files-pr/curl.sh
  upstream/examples/v1beta1/github-add-changed-files-push-cel/00-rbac.yaml
  upstream/examples/v1beta1/github-add-changed-files-push-cel/01-secret.yaml
  upstream/examples/v1beta1/github-add-changed-files-push-cel/02-github-eventlistener-interceptor.yaml
  upstream/examples/v1beta1/github-add-changed-files-push-cel/curl.sh
  upstream/examples/v1beta1/github-owners/curl.sh
  upstream/examples/v1beta1/github/curl.sh
  upstream/pkg/apis/config/core_interceptors.go
  upstream/pkg/apis/config/core_interceptors_test.go
  upstream/pkg/apis/config/feature_flags.go
  upstream/pkg/apis/config/feature_flags_test.go
  upstream/pkg/apis/config/store.go
  upstream/pkg/apis/config/store_test.go
  upstream/pkg/apis/config/zz_generated.deepcopy.go
  upstream/pkg/interceptors/github/github.go
  upstream/pkg/interceptors/github/github_test.go
  upstream/pkg/interceptors/interceptors_test.go
  upstream/pkg/interceptors/server/server.go
  upstream/pkg/interceptors/server/server_test.go
  upstream/pkg/sink/sink_test.go
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot] Update release-v1.23.x from tektoncd/triggers:release-v0.36.x to 7fd3dcab2ea06b79c6e5ee162ebf2b7288b11f4f
  head
  upstream/cmd/interceptors/main.go
  upstream/config/config-feature-flags.yaml
  upstream/config/interceptors/config-core-interceptors.yaml
  upstream/config/interceptors/core-interceptors-deployment.yaml
  upstream/docs/install.md
  upstream/docs/interceptors.md
  upstream/examples/v1beta1/github-add-changed-files-pr/00-rbac.yaml
  upstream/examples/v1beta1/github-add-changed-files-pr/01-secret.yaml
  upstream/examples/v1beta1/github-add-changed-files-pr/02-github-eventlistener-interceptor.yaml
  upstream/examples/v1beta1/github-add-changed-files-pr/curl.sh
  upstream/examples/v1beta1/github-add-changed-files-push-cel/00-rbac.yaml
  upstream/examples/v1beta1/github-add-changed-files-push-cel/01-secret.yaml
  upstream/examples/v1beta1/github-add-changed-files-push-cel/02-github-eventlistener-interceptor.yaml
  upstream/examples/v1beta1/github-add-changed-files-push-cel/curl.sh
  upstream/examples/v1beta1/github-owners/curl.sh
  upstream/examples/v1beta1/github/curl.sh
  upstream/pkg/apis/config/core_interceptors.go
  upstream/pkg/apis/config/core_interceptors_test.go
  upstream/pkg/apis/config/feature_flags.go
  upstream/pkg/apis/config/feature_flags_test.go
  upstream/pkg/apis/config/store.go
  upstream/pkg/apis/config/store_test.go
  upstream/pkg/apis/config/zz_generated.deepcopy.go
  upstream/pkg/interceptors/github/github.go
  upstream/pkg/interceptors/github/github_test.go
  upstream/pkg/interceptors/interceptors_test.go
  upstream/pkg/interceptors/server/server.go
  upstream/pkg/interceptors/server/server_test.go
  upstream/pkg/sink/sink_test.go
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot] Update next from tektoncd/triggers:release-v0.37.x to 2f9392551e0ed560274308b7207d67e64e771128
  head
  upstream/cmd/interceptors/main.go
  upstream/config/config-feature-flags.yaml
  upstream/config/interceptors/config-core-interceptors.yaml
  upstream/config/interceptors/core-interceptors-deployment.yaml
  upstream/docs/install.md
  upstream/docs/interceptors.md
  upstream/examples/v1beta1/github-add-changed-files-pr/00-rbac.yaml
  upstream/examples/v1beta1/github-add-changed-files-pr/01-secret.yaml
  upstream/examples/v1beta1/github-add-changed-files-pr/02-github-eventlistener-interceptor.yaml
  upstream/examples/v1beta1/github-add-changed-files-pr/curl.sh
  upstream/examples/v1beta1/github-add-changed-files-push-cel/00-rbac.yaml
  upstream/examples/v1beta1/github-add-changed-files-push-cel/01-secret.yaml
  upstream/examples/v1beta1/github-add-changed-files-push-cel/02-github-eventlistener-interceptor.yaml
  upstream/examples/v1beta1/github-add-changed-files-push-cel/curl.sh
  upstream/examples/v1beta1/github-owners/curl.sh
  upstream/examples/v1beta1/github/curl.sh
  upstream/pkg/apis/config/core_interceptors.go
  upstream/pkg/apis/config/core_interceptors_test.go
  upstream/pkg/apis/config/feature_flags.go
  upstream/pkg/apis/config/feature_flags_test.go
  upstream/pkg/apis/config/store.go
  upstream/pkg/apis/config/store_test.go
  upstream/pkg/apis/config/zz_generated.deepcopy.go
  upstream/pkg/interceptors/github/github.go
  upstream/pkg/interceptors/github/github_test.go
  upstream/pkg/interceptors/interceptors_test.go
  upstream/pkg/interceptors/server/server.go
  upstream/pkg/interceptors/server/server_test.go
  upstream/pkg/sink/sink_test.go
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:release-v1.24.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .tekton/tektoncd-triggers-1-24-controller-pull-request.yaml
  .tekton/tektoncd-triggers-1-24-controller-push.yaml
  .tekton/tektoncd-triggers-1-24-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-1-24-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-1-24-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-1-24-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-1-24-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-1-24-webhook-push.yaml
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:main] update konflux configuration
  .github/workflows/slack-notify-on-failure.yaml
Due: none

[bot:release-v1.24.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
Due: none

[bot:1.24] Pin head to tested upstream SHA for 1.24.0
  head
Due: none

Temporarliy Enable update-sources job in workflow
  .github/workflows/update-sources.yaml
Due: none

[bot] Update release-v1.24.x from tektoncd/triggers:release-v0.37.x to 2f9392551e0ed560274308b7207d67e64e771128
  head
Due: none

Disable update-sources job during CodeFreeze
  .github/workflows/update-sources.yaml
Due: none

[bot:1.24] Sync upstream to tested SHA de24b1f23ad6
  upstream/cmd/interceptors/main.go
  upstream/config/config-feature-flags.yaml
  upstream/config/interceptors/config-core-interceptors.yaml
  upstream/config/interceptors/core-interceptors-deployment.yaml
  upstream/docs/install.md
  upstream/docs/interceptors.md
  upstream/examples/v1beta1/github-add-changed-files-pr/01-secret.yaml
  upstream/examples/v1beta1/github-add-changed-files-pr/curl.sh
  upstream/examples/v1beta1/github-add-changed-files-pr/github-eventlistener-interceptor.yaml
  upstream/examples/v1beta1/github-add-changed-files-pr/rbac.yaml
  upstream/examples/v1beta1/github-add-changed-files-push-cel/01-secret.yaml
  upstream/examples/v1beta1/github-add-changed-files-push-cel/curl.sh
  upstream/examples/v1beta1/github-add-changed-files-push-cel/github-eventlistener-interceptor.yaml
  upstream/examples/v1beta1/github-add-changed-files-push-cel/rbac.yaml
  upstream/examples/v1beta1/github-owners/curl.sh
  upstream/examples/v1beta1/github/curl.sh
  upstream/pkg/apis/config/core_interceptors.go
  upstream/pkg/apis/config/core_interceptors_test.go
  upstream/pkg/apis/config/feature_flags.go
  upstream/pkg/apis/config/feature_flags_test.go
  upstream/pkg/apis/config/store.go
  upstream/pkg/apis/config/store_test.go
  upstream/pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  upstream/pkg/apis/config/zz_generated.deepcopy.go
  upstream/pkg/interceptors/github/github.go
  upstream/pkg/interceptors/github/github_test.go
  upstream/pkg/interceptors/interceptors_test.go
  upstream/pkg/interceptors/server/server.go
  upstream/pkg/interceptors/server/server_test.go
  upstream/pkg/sink/sink_test.go
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Path conditions:
  core-interceptors-on-push: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/core-interceptors-pull-request.yaml)) or (any of: .tekton/core-interceptors-push.yaml)) or (any of: .tekton/docker-build.yaml)
  eventlistenersink-on-pull-request: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/eventlistenersink-pull-request.yaml)) or (any of: .tekton/eventlistenersink-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-triggers-main-controller-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-controller-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-core-interceptors-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/core-interceptors.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-core-interceptors-push.yaml)
  tektoncd-triggers-main-eventlistenersink-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/eventlistenersink.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-push.yaml)
