Repository openshift-pipelines/tektoncd-triggers: changes, and which Tekton pipelines are due for each by the changed paths.
All: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

core-interceptors-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/core-interceptors:{{revision}}
  - name: dockerfile
  ...

eventlistenersink-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/eventlistenersink:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-triggers-main-controller-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/controller:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-triggers-main-core-interceptors-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/main/triggers-core-interceptors-rhel9:{{revision}}
  - name: dockerfile
  ...

tektoncd-triggers-main-eventlistenersink-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/eventlistenersink:{{revision}}
  - name: dockerfile
  ...

tektoncd-triggers-main-webhook-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/webhook:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-triggers-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-triggers-main/webhook:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/webhook.Dockerfile
  ...

[bot] Update main from tektoncd/triggers to 218fff916e68dc2a089c37363aed1c9693a34277
  head
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/golang.org/x/oauth2/authhandler/authhandler.go
  upstream/vendor/golang.org/x/oauth2/google/externalaccount/aws.go
  upstream/vendor/golang.org/x/oauth2/google/externalaccount/basecredentials.go
  upstream/vendor/golang.org/x/oauth2/google/externalaccount/executablecredsource.go
  upstream/vendor/golang.org/x/oauth2/google/externalaccount/filecredsource.go
  upstream/vendor/golang.org/x/oauth2/google/externalaccount/urlcredsource.go
  upstream/vendor/golang.org/x/oauth2/google/google.go
  upstream/vendor/golang.org/x/oauth2/google/internal/impersonate/impersonate.go
  upstream/vendor/golang.org/x/oauth2/google/internal/stsexchange/sts_exchange.go
  upstream/vendor/golang.org/x/oauth2/internal/doc.go
  upstream/vendor/golang.org/x/oauth2/internal/oauth2.go
  upstream/vendor/golang.org/x/oauth2/internal/token.go
  upstream/vendor/golang.org/x/oauth2/internal/transport.go
  upstream/vendor/golang.org/x/oauth2/jws/jws.go
  upstream/vendor/golang.org/x/oauth2/jwt/jwt.go
  upstream/vendor/golang.org/x/oauth2/oauth2.go
  upstream/vendor/golang.org/x/oauth2/pkce.go
  upstream/vendor/golang.org/x/oauth2/token.go
  upstream/vendor/golang.org/x/oauth2/transport.go
  upstream/vendor/golang.org/x/sync/errgroup/errgroup.go
  upstream/vendor/google.golang.org/grpc/internal/resolver/delegatingresolver/delegatingresolver.go
  upstream/vendor/google.golang.org/grpc/internal/transport/http2_client.go
  upstream/vendor/google.golang.org/grpc/internal/transport/http_util.go
  upstream/vendor/google.golang.org/grpc/version.go
  upstream/vendor/modules.txt
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

trigger rebuild
  .konflux/patches/.placeholder
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:release-v1.17.x] update konflux configuration
  .tekton/tektoncd-triggers-1-17-controller-pull-request.yaml
  .tekton/tektoncd-triggers-1-17-controller-push.yaml
  .tekton/tektoncd-triggers-1-17-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-1-17-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-1-17-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-1-17-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-1-17-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-1-17-webhook-push.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/auto-merge-upstream-release-v1.17.x.yaml
  .github/workflows/update-sources-release-v1.17.x.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-triggers-1-17-controller Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-1-17-controller-pull-request.yaml
  .tekton/tektoncd-triggers-1-17-controller-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-triggers-1-17-core-interceptors Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-1-17-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-1-17-core-interceptors-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-triggers-1-17-eventlistenersink Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-1-17-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-1-17-eventlistenersink-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-triggers-1-17-webhook Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-triggers-1-17-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-1-17-webhook-push.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/auto-merge-release-v1.17.x.yaml
  .github/workflows/auto-merge-upstream-main.yaml
  .github/workflows/auto-merge-upstream-release-v1.16.x.yaml
  .github/workflows/auto-merge-upstream-release-v1.17.x.yaml
  .github/workflows/auto-merge-upstream-release-v1.19.x.yaml
  .github/workflows/update-sources-main.yaml
  .github/workflows/update-sources-release-v1.14.x.yaml
  .github/workflows/update-sources-release-v1.15.x.yaml
  .github/workflows/update-sources-release-v1.16.x.yaml
  .github/workflows/update-sources-release-v1.17.x.yaml
  .github/workflows/update-sources-release-v1.18.x.yaml
  .github/workflows/update-sources-release-v1.19.x.yaml
Due: none

[bot] Update main from tektoncd/triggers to 8abd1d8da304ac080b7f3df225c1025aa596734f
  head
  upstream/docs/triggers-api.md
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Update .placeholder
  .konflux/patches/.placeholder
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot] Update main from tektoncd/triggers to cab3bf6e1a53432860eb85ecca03f5a34ed8d88f
  head
  upstream/.github/workflows/ci.yaml
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

update ubi-minimal SHA to latest
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot] Update main from tektoncd/triggers to 806011e9f1990396a851aac36a7c64a3009139dd
  head
  upstream/Makefile
  upstream/tools/go.mod
  upstream/tools/go.sum
  upstream/tools/tools.go
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot] Update main from tektoncd/triggers to 293c81686f044fc890b644026a8521e8ce6ad4ea
  head
  upstream/.github/workflows/ci.yaml
  upstream/test/README.md
  upstream/test/eventlistener_test.go
  upstream/tools/go.mod
  upstream/tools/go.sum
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot] Update main from tektoncd/triggers to 77fceadba4f817d8118c7676f353bd7d4ec3c98e
  head
  upstream/docs/getting-started/pipeline.yaml
  upstream/test/e2e-common.sh
  upstream/test/e2e-tests-yaml.sh
  upstream/test/e2e-tests.sh
  upstream/test/eventlistener_test.go
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot] Update main from tektoncd/triggers to 3dd81936578c69ecd95d0c292f29f42408ba4b1f
  head
  upstream/.github/workflows/microshift.yaml
  upstream/test/e2e-tests-examples.sh
  upstream/test/e2e-tests.sh
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

update ubi minial 9 image
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(deps): update mvdan.cc/unparam digest to 0df0534
  upstream/tools/go.mod
  upstream/tools/go.sum
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

fix(deps): update github.com/ahmetb/gen-crd-api-reference-docs digest to c2e9cae
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/github.com/ahmetb/gen-crd-api-reference-docs/.gitignore
  upstream/vendor/github.com/ahmetb/gen-crd-api-reference-docs/.goreleaser.yml
  upstream/vendor/github.com/ahmetb/gen-crd-api-reference-docs/.travis.yml
  upstream/vendor/github.com/ahmetb/gen-crd-api-reference-docs/README.md
  upstream/vendor/github.com/ahmetb/gen-crd-api-reference-docs/main.go
  upstream/vendor/k8s.io/gengo/LICENSE
  upstream/vendor/k8s.io/gengo/parser/doc.go
  upstream/vendor/k8s.io/gengo/parser/parse.go
  upstream/vendor/k8s.io/gengo/types/comments.go
  upstream/vendor/k8s.io/gengo/types/doc.go
  upstream/vendor/k8s.io/gengo/types/flatten.go
  upstream/vendor/k8s.io/gengo/types/types.go
  upstream/vendor/k8s.io/klog/.travis.yml
  upstream/vendor/k8s.io/klog/CONTRIBUTING.md
  upstream/vendor/k8s.io/klog/LICENSE
  upstream/vendor/k8s.io/klog/OWNERS
  upstream/vendor/k8s.io/klog/README.md
  upstream/vendor/k8s.io/klog/RELEASE.md
  upstream/vendor/k8s.io/klog/SECURITY_CONTACTS
  upstream/vendor/k8s.io/klog/code-of-conduct.md
  upstream/vendor/k8s.io/klog/klog.go
  upstream/vendor/k8s.io/klog/klog_file.go
  upstream/vendor/modules.txt
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Update k8s.io/gengo digest to ddb642e
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/modules.txt
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

fix(deps): update github.com/googlecloudplatform/cloud-builders/gcs-fetcher digest to 9ba4c9b
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/github.com/GoogleCloudPlatform/cloud-builders/gcs-fetcher/cmd/gcs-fetcher/main.go
  upstream/vendor/github.com/GoogleCloudPlatform/cloud-builders/gcs-fetcher/pkg/common/common.go
  upstream/vendor/github.com/GoogleCloudPlatform/cloud-builders/gcs-fetcher/pkg/fetcher/fetcher.go
  upstream/vendor/modules.txt
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Path conditions:
  core-interceptors-on-push: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/core-interceptors-pull-request.yaml)) or (any of: .tekton/core-interceptors-push.yaml)) or (any of: .tekton/docker-build.yaml)
  eventlistenersink-on-pull-request: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/eventlistenersink-pull-request.yaml)) or (any of: .tekton/eventlistenersink-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-triggers-main-controller-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-controller-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-core-interceptors-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/core-interceptors.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-core-interceptors-push.yaml)
  tektoncd-triggers-main-eventlistenersink-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/eventlistenersink.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-push.yaml)
