Repository openshift-pipelines/tektoncd-triggers: changes, and which Tekton pipelines are due for each by the changed paths.
All: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Path conditions:
  core-interceptors-on-push: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/core-interceptors-pull-request.yaml)) or (any of: .tekton/core-interceptors-push.yaml)) or (any of: .tekton/docker-build.yaml)
  eventlistenersink-on-pull-request: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/eventlistenersink-pull-request.yaml)) or (any of: .tekton/eventlistenersink-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-triggers-main-controller-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-controller-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-core-interceptors-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/core-interceptors.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-core-interceptors-push.yaml)
  tektoncd-triggers-main-eventlistenersink-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/eventlistenersink.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-push.yaml)

[bot:release-v1.20.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:release-v1.15.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:release-v1.23.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:next] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore: pin ubi-minimal image to digest
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:release-v1.22.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
Due: none

Enable update-sources job in GitHub Actions
  .github/workflows/update-sources.yaml
Due: none

[bot] Update release-v1.22.x from tektoncd/triggers:release-v0.35.x to 6670b8b326db83193803dda6a84cfbd247a047fe
  head
  upstream/.github/workflows/e2e-matrix.yml
  upstream/cmd/controller/kodata/LICENSE
  upstream/cmd/eventlistenersink/kodata/LICENSE
  upstream/cmd/webhook/kodata/LICENSE
  upstream/test/e2e-common.sh
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:nightly] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:release-v1.22.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot] Update nightly from tektoncd/triggers:main to cc6014fadf5f5888ecab4d486ff8ad2af0e1722a
  head
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/zizmor.yaml
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot] Update nightly from tektoncd/triggers:main to 1a2eb039b31e9a652b894ce8bf9506f1d2458710
  head
  upstream/.github/dependabot.config.yml
  upstream/.github/dependabot.yml
  upstream/.github/workflows/ci.yaml
  upstream/.github/workflows/codeql-analysis.yml
  upstream/config/clusterrole-aggregate-edit.yaml
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot] Update release-v1.22.x from tektoncd/triggers:release-v0.35.x to 72ad4eda38d96540182c6bf98fa12565ab5bab46
  head
  upstream/cmd/interceptors/main.go
  upstream/config/config-feature-flags.yaml
  upstream/config/interceptors/config-core-interceptors.yaml
  upstream/config/interceptors/core-interceptors-deployment.yaml
  upstream/docs/install.md
  upstream/docs/interceptors.md
  upstream/examples/v1beta1/github-add-changed-files-pr/00-rbac.yaml
  upstream/examples/v1beta1/github-add-changed-files-pr/01-secret.yaml
  upstream/examples/v1beta1/github-add-changed-files-pr/02-github-eventlistener-interceptor.yaml
  upstream/examples/v1beta1/github-add-changed-files-pr/curl.sh
  upstream/examples/v1beta1/github-add-changed-files-push-cel/00-rbac.yaml
  upstream/examples/v1beta1/github-add-changed-files-push-cel/01-secret.yaml
  upstream/examples/v1beta1/github-add-changed-files-push-cel/02-github-eventlistener-interceptor.yaml
  upstream/examples/v1beta1/github-add-changed-files-push-cel/curl.sh
  upstream/examples/v1beta1/github-owners/curl.sh
  upstream/examples/v1beta1/github/curl.sh
  upstream/pkg/apis/config/core_interceptors.go
  upstream/pkg/apis/config/core_interceptors_test.go
  upstream/pkg/apis/config/feature_flags.go
  upstream/pkg/apis/config/feature_flags_test.go
  upstream/pkg/apis/config/store.go
  upstream/pkg/apis/config/store_test.go
  upstream/pkg/apis/config/zz_generated.deepcopy.go
  upstream/pkg/interceptors/github/github.go
  upstream/pkg/interceptors/github/github_test.go
  upstream/pkg/interceptors/interceptors_test.go
  upstream/pkg/interceptors/server/server.go
  upstream/pkg/interceptors/server/server_test.go
  upstream/pkg/sink/sink_test.go
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:release-v1.24.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .tekton/tektoncd-triggers-1-24-controller-pull-request.yaml
  .tekton/tektoncd-triggers-1-24-controller-push.yaml
  .tekton/tektoncd-triggers-1-24-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-1-24-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-1-24-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-1-24-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-1-24-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-1-24-webhook-push.yaml
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot] Update release-v1.24.x from tektoncd/triggers:release-v0.37.x to 2f9392551e0ed560274308b7207d67e64e771128
  head
  upstream/cmd/interceptors/main.go
  upstream/config/config-feature-flags.yaml
  upstream/config/interceptors/config-core-interceptors.yaml
  upstream/config/interceptors/core-interceptors-deployment.yaml
  upstream/docs/install.md
  upstream/docs/interceptors.md
  upstream/examples/v1beta1/github-add-changed-files-pr/00-rbac.yaml
  upstream/examples/v1beta1/github-add-changed-files-pr/01-secret.yaml
  upstream/examples/v1beta1/github-add-changed-files-pr/02-github-eventlistener-interceptor.yaml
  upstream/examples/v1beta1/github-add-changed-files-pr/curl.sh
  upstream/examples/v1beta1/github-add-changed-files-push-cel/00-rbac.yaml
  upstream/examples/v1beta1/github-add-changed-files-push-cel/01-secret.yaml
  upstream/examples/v1beta1/github-add-changed-files-push-cel/02-github-eventlistener-interceptor.yaml
  upstream/examples/v1beta1/github-add-changed-files-push-cel/curl.sh
  upstream/examples/v1beta1/github-owners/curl.sh
  upstream/examples/v1beta1/github/curl.sh
  upstream/pkg/apis/config/core_interceptors.go
  upstream/pkg/apis/config/core_interceptors_test.go
  upstream/pkg/apis/config/feature_flags.go
  upstream/pkg/apis/config/feature_flags_test.go
  upstream/pkg/apis/config/store.go
  upstream/pkg/apis/config/store_test.go
  upstream/pkg/apis/config/zz_generated.deepcopy.go
  upstream/pkg/interceptors/github/github.go
  upstream/pkg/interceptors/github/github_test.go
  upstream/pkg/interceptors/interceptors_test.go
  upstream/pkg/interceptors/server/server.go
  upstream/pkg/interceptors/server/server_test.go
  upstream/pkg/sink/sink_test.go
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot] Update release-v1.24.x from tektoncd/triggers:release-v0.37.x to ea64a84f4a794fc7450e896f941d28cf21c418e3
  head
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/golang.org/x/crypto/internal/poly1305/mac_noasm.go
  upstream/vendor/golang.org/x/crypto/internal/poly1305/sum_asm.go
  upstream/vendor/golang.org/x/crypto/internal/poly1305/sum_riscv64.s
  upstream/vendor/golang.org/x/tools/go/types/objectpath/objectpath.go
  upstream/vendor/golang.org/x/tools/internal/imports/fix.go
  upstream/vendor/golang.org/x/tools/internal/imports/mod.go
  upstream/vendor/golang.org/x/tools/internal/imports/source_env.go
  upstream/vendor/golang.org/x/tools/internal/modindex/directories.go
  upstream/vendor/golang.org/x/tools/internal/modindex/index.go
  upstream/vendor/golang.org/x/tools/internal/modindex/lookup.go
  upstream/vendor/golang.org/x/tools/internal/modindex/modindex.go
  upstream/vendor/golang.org/x/tools/internal/modindex/symbols.go
  upstream/vendor/golang.org/x/tools/internal/stdlib/deps.go
  upstream/vendor/golang.org/x/tools/internal/stdlib/manifest.go
  upstream/vendor/modules.txt
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot] Update next from tektoncd/triggers:release-v0.37.x to ea64a84f4a794fc7450e896f941d28cf21c418e3
  head
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/golang.org/x/crypto/internal/poly1305/mac_noasm.go
  upstream/vendor/golang.org/x/crypto/internal/poly1305/sum_asm.go
  upstream/vendor/golang.org/x/crypto/internal/poly1305/sum_riscv64.s
  upstream/vendor/golang.org/x/tools/go/types/objectpath/objectpath.go
  upstream/vendor/golang.org/x/tools/internal/imports/fix.go
  upstream/vendor/golang.org/x/tools/internal/imports/mod.go
  upstream/vendor/golang.org/x/tools/internal/imports/source_env.go
  upstream/vendor/golang.org/x/tools/internal/modindex/directories.go
  upstream/vendor/golang.org/x/tools/internal/modindex/index.go
  upstream/vendor/golang.org/x/tools/internal/modindex/lookup.go
  upstream/vendor/golang.org/x/tools/internal/modindex/modindex.go
  upstream/vendor/golang.org/x/tools/internal/modindex/symbols.go
  upstream/vendor/golang.org/x/tools/internal/stdlib/deps.go
  upstream/vendor/golang.org/x/tools/internal/stdlib/manifest.go
  upstream/vendor/modules.txt
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push
