Repository openshift-pipelines/tektoncd-triggers: changes, and which Tekton pipelines are due for each by the changed paths.
All: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Path conditions:
  core-interceptors-on-push: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/core-interceptors-pull-request.yaml)) or (any of: .tekton/core-interceptors-push.yaml)) or (any of: .tekton/docker-build.yaml)
  eventlistenersink-on-pull-request: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/eventlistenersink-pull-request.yaml)) or (any of: .tekton/eventlistenersink-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-triggers-main-controller-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-controller-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-core-interceptors-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/core-interceptors.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-core-interceptors-push.yaml)
  tektoncd-triggers-main-eventlistenersink-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/eventlistenersink.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-push.yaml)

[bot:release-v1.23.x] update konflux configuration
  .tekton/tektoncd-triggers-1-23-controller-push.yaml
  .tekton/tektoncd-triggers-1-23-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-1-23-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-1-23-webhook-push.yaml
Due: none

[bot:release-v1.21.x] update konflux configuration
  .tekton/tektoncd-triggers-1-21-controller-push.yaml
  .tekton/tektoncd-triggers-1-21-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-1-21-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-1-21-webhook-push.yaml
Due: none

[bot:release-v1.20.x] update konflux configuration
  .tekton/tektoncd-triggers-1-20-controller-push.yaml
  .tekton/tektoncd-triggers-1-20-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-1-20-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-1-20-webhook-push.yaml
Due: none

[bot:release-v1.22.x] update konflux configuration
  .tekton/tektoncd-triggers-1-22-controller-push.yaml
  .tekton/tektoncd-triggers-1-22-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-1-22-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-1-22-webhook-push.yaml
Due: none

rebuild: trigger image rebuild 2026-06-11T14:51:49Z
  .konflux/patches/.placeholder
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

rebuild: trigger image rebuild 2026-06-12T08:09:17Z
  .konflux/patches/.placeholder
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

rebuild: trigger image rebuild 2026-06-12T08:36:01Z
  .konflux/patches/.placeholder
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

rebuild: trigger image rebuild 2026-06-12T09:10:03Z
  .konflux/patches/.placeholder
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:release-v1.15.x] update konflux configuration
  .tekton/tektoncd-triggers-1-15-controller-push.yaml
  .tekton/tektoncd-triggers-1-15-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-1-15-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-1-15-webhook-push.yaml
Due: none

[bot:release-v1.23.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.22.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
Due: none

rebuild: trigger image rebuild 2026-06-16T12:07:51Z
  .konflux/patches/.placeholder
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:release-v1.21.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .tekton/tektoncd-triggers-1-21-controller-pull-request.yaml
  .tekton/tektoncd-triggers-1-21-controller-push.yaml
  .tekton/tektoncd-triggers-1-21-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-1-21-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-1-21-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-1-21-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-1-21-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-1-21-webhook-push.yaml
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:release-v1.22.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .tekton/tektoncd-triggers-1-22-controller-pull-request.yaml
  .tekton/tektoncd-triggers-1-22-controller-push.yaml
  .tekton/tektoncd-triggers-1-22-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-1-22-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-1-22-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-1-22-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-1-22-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-1-22-webhook-push.yaml
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot] Update nightly from tektoncd/triggers:main to 993aadb2f9043e3794536df00296125f7897d266
  head
  upstream/.github/dependabot.config.yml
  upstream/.github/dependabot.yml
  upstream/.github/workflows/ci.yaml
  upstream/.github/workflows/dependabot-regen.yml
  upstream/.github/workflows/go-coverage.yml
  upstream/.github/workflows/zizmor.yaml
  upstream/hack/generate-dependabot.go
  upstream/hack/generate-dependabot.sh
  upstream/releases.md
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

rebuild: trigger image rebuild 2026-06-23T05:59:46Z
  .konflux/patches/.placeholder
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot] Update nightly from tektoncd/triggers:main to d1b7c0d07da9fa18e52fdacd2056b9a1c1b3e0f6
  head
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.ko.yaml
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Red Hat Konflux kflux-prd-rh02 purge tektoncd-triggers-1-24-webhook
  .tekton/tektoncd-triggers-1-24-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-1-24-webhook-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-triggers-1-24-controller
  .tekton/tektoncd-triggers-1-24-controller-pull-request.yaml
  .tekton/tektoncd-triggers-1-24-controller-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-triggers-1-24-core-interceptors
  .tekton/tektoncd-triggers-1-24-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-1-24-core-interceptors-push.yaml
Due: none
