Repository openshift-pipelines/tektoncd-triggers: changes, and which Tekton pipelines are due for each by the changed paths.
All: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Path conditions:
  core-interceptors-on-push: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/core-interceptors-pull-request.yaml)) or (any of: .tekton/core-interceptors-push.yaml)) or (any of: .tekton/docker-build.yaml)
  eventlistenersink-on-pull-request: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/eventlistenersink-pull-request.yaml)) or (any of: .tekton/eventlistenersink-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-triggers-main-controller-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-controller-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-core-interceptors-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/core-interceptors.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-core-interceptors-push.yaml)
  tektoncd-triggers-main-eventlistenersink-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/eventlistenersink.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-push.yaml)

[bot] Update main from tektoncd/triggers to 4dbb0a68134832edca75bc7715e4d7599befb5c5
  head
  upstream/.github/workflows/golangci-lint.yaml
  upstream/.golangci.yml
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:main] update konflux configuration
  .tekton/tektoncd-triggers-main-controller-pull-request.yaml
  .tekton/tektoncd-triggers-main-controller-push.yaml
  .tekton/tektoncd-triggers-main-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-main-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-main-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-main-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-main-webhook-push.yaml
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:release-v1.15.x] update konflux configuration
  .tekton/tektoncd-triggers-1-15-controller-pull-request.yaml
  .tekton/tektoncd-triggers-1-15-controller-push.yaml
  .tekton/tektoncd-triggers-1-15-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-1-15-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-1-15-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-1-15-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-1-15-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-1-15-webhook-push.yaml
Due: none

chore(deps): update github.com/golangci/lint-1 digest to d2cdd8c
  upstream/tools/go.mod
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(deps): update github.com/golangci/dupl digest to f665c8d
  upstream/tools/go.mod
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(deps): update github.com/timakin/bodyclose digest to 1db5c5c
  upstream/tools/go.mod
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(deps): update github.com/golangci/unconvert digest to a129a6e
  upstream/tools/go.mod
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(deps): update github.com/golangci/gofmt digest to f2e10e0
  upstream/tools/go.mod
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(deps): update github.com/quasilyte/regex/syntax digest to b3f0c40
  upstream/tools/go.mod
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

chore(deps): update golang.org/x/exp digest to ce4c2cf
  upstream/go.mod
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot] Update main from tektoncd/triggers to 2e34d19acd4be91ad2fe626cea82604f2b6da971
  head
  upstream/.golangci.yml
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

enforce stripfipsentrypoint tag in dockerfile
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/core-interceptors.Dockerfile
  .konflux/dockerfiles/eventlistenersink.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:main] update konflux configuration
  .github/workflows/update-sources-next.yaml
Due: none

[bot:next] update konflux configuration
  .tekton/tektoncd-triggers-next-controller-pull-request.yaml
  .tekton/tektoncd-triggers-next-controller-push.yaml
  .tekton/tektoncd-triggers-next-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-next-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-next-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-next-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-next-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-next-webhook-push.yaml
Due: none

[bot:release-v1.16.x] update konflux configuration
  .tekton/tektoncd-triggers-1-16-controller-pull-request.yaml
  .tekton/tektoncd-triggers-1-16-controller-push.yaml
  .tekton/tektoncd-triggers-1-16-core-interceptors-pull-request.yaml
  .tekton/tektoncd-triggers-1-16-core-interceptors-push.yaml
  .tekton/tektoncd-triggers-1-16-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-1-16-eventlistenersink-push.yaml
  .tekton/tektoncd-triggers-1-16-webhook-pull-request.yaml
  .tekton/tektoncd-triggers-1-16-webhook-push.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/update-sources-release-v1.16.x.yaml
Due: none

Update .placeholder
  .konflux/patches/.placeholder
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push
