Repository openshift-pipelines/tektoncd-triggers: changes, and which Tekton pipelines are due for each by the changed paths.
All: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

Path conditions:
  core-interceptors-on-push: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/core-interceptors-pull-request.yaml)) or (any of: .tekton/core-interceptors-push.yaml)) or (any of: .tekton/docker-build.yaml)
  eventlistenersink-on-pull-request: ((((any of: upstream/***) or (any of: openshift/***)) or (any of: .tekton/eventlistenersink-pull-request.yaml)) or (any of: .tekton/eventlistenersink-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-triggers-main-controller-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-controller-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-core-interceptors-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/core-interceptors.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-core-interceptors-push.yaml)
  tektoncd-triggers-main-eventlistenersink-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/eventlistenersink.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-eventlistenersink-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-triggers-main-webhook-on-push: ((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/tektoncd-triggers-main-webhook-push.yaml)

Red Hat Konflux kflux-prd-rh02 purge tektoncd-triggers-1-24-eventlistenersink
  .tekton/tektoncd-triggers-1-24-eventlistenersink-pull-request.yaml
  .tekton/tektoncd-triggers-1-24-eventlistenersink-push.yaml
Due: none

[bot] Update nightly from tektoncd/triggers:main to 51ef7693cc09156e5c802a8f6149022fd9861e15
  head
  upstream/.github/workflows/ci.yaml
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/dependabot-regen.yml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/.github/workflows/go-coverage.yml
  upstream/.github/workflows/microshift.yaml
  upstream/.github/workflows/zizmor.yaml
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

rebuild: trigger image rebuild 2026-06-25T10:25:09Z
  .konflux/patches/.placeholder
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

rebuild: trigger image rebuild 2026-07-02T10:15:47Z
  .konflux/patches/.placeholder
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:release-v1.21.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
Due: none

[bot] Update nightly from tektoncd/triggers:main to c02670b8854ef50b541da6e34917a478e8dcaeba
  head
  upstream/.github/workflows/chatops_retest.yaml
  upstream/.github/workflows/slash.yml
  upstream/cmd/controller/kodata/LICENSE
  upstream/cmd/eventlistenersink/kodata/LICENSE
  upstream/cmd/webhook/kodata/LICENSE
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:nightly] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot] Update nightly from tektoncd/triggers:main to c02670b8854ef50b541da6e34917a478e8dcaeba
  upstream/.agents/guidelines.md
  upstream/.agents/skills/.gitkeep
  upstream/.claude/skills
  upstream/.errcheck.txt
  upstream/.gitattributes
  upstream/.github/dependabot.config.yml
  upstream/.github/dependabot.yml
  upstream/.github/pull_request_template.md
  upstream/.github/workflows/chatops_retest.yaml
  upstream/.github/workflows/ci.yaml
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/dependabot-regen.yml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/.github/workflows/go-coverage.yml
  upstream/.github/workflows/microshift.yaml
  upstream/.github/workflows/slash.yml
  upstream/.github/workflows/zizmor.yaml
  upstream/.gitignore
  upstream/.golangci.yml
  upstream/.ko.yaml
  upstream/.pre-commit-config.yaml
  upstream/.yamllint
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot:release-v1.21.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.22.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.15.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.23.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.20.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:next] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot] Update release-v1.23.x from tektoncd/triggers:release-v0.36.x to bf95a60db160515b64454054ace1a0b725803c14
  upstream/.errcheck.txt
  upstream/.gitattributes
  upstream/.github/dependabot.yml
  upstream/.github/pull_request_template.md
  upstream/.github/workflows/ci.yaml
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/.github/workflows/go-coverage.yml
  upstream/.github/workflows/microshift.yaml
  upstream/.github/workflows/zizmor.yaml
  upstream/.gitignore
  upstream/.golangci.yml
  upstream/.ko.yaml
  upstream/.yamllint
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot] Update release-v1.22.x from tektoncd/triggers:release-v0.35.x to e00d998be4162d16d2112c90ef594e26d54a499a
  upstream/.errcheck.txt
  upstream/.gitattributes
  upstream/.github/dependabot.yml
  upstream/.github/pull_request_template.md
  upstream/.github/workflows/ci.yaml
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/.github/workflows/go-coverage.yml
  upstream/.github/workflows/golangci-lint.yaml
  upstream/.github/workflows/microshift.yaml
  upstream/.github/workflows/zizmor.yaml
  upstream/.gitignore
  upstream/.golangci.yml
  upstream/.ko.yaml
  upstream/.yamllint
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot] Update next from tektoncd/triggers:release-v0.36.x to bf95a60db160515b64454054ace1a0b725803c14
  upstream/.errcheck.txt
  upstream/.gitattributes
  upstream/.github/dependabot.yml
  upstream/.github/pull_request_template.md
  upstream/.github/workflows/ci.yaml
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/.github/workflows/go-coverage.yml
  upstream/.github/workflows/microshift.yaml
  upstream/.github/workflows/zizmor.yaml
  upstream/.gitignore
  upstream/.golangci.yml
  upstream/.ko.yaml
  upstream/.yamllint
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

[bot] Update release-v1.15.x from tektoncd/triggers:release-v0.27.x to f76be74d04dc097c537640f9baa9a886d174185b
  upstream/.errcheck.txt
  upstream/.gitattributes
  upstream/.github/pull_request_template.md
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.gitignore
  upstream/.golangci.yml
  upstream/.ko.yaml
  upstream/.yamllint
Due: core-interceptors-on-push, eventlistenersink-on-pull-request, tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-eventlistenersink-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push

One Click Release: build all konflux components
  .konflux/patches/.placeholder
Due: tektoncd-triggers-main-controller-on-pull-request, tektoncd-triggers-main-core-interceptors-on-push, tektoncd-triggers-main-webhook-on-pull-request, tektoncd-triggers-main-webhook-on-push
